<form>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="databaseSelect">Database</label>
        <select class="form-control" id="databaseSelect">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="nameInput">Name</label>
        <input id="nameInput" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="descriptionText">Description</label>
        <textarea class="form-control" id="descriptionText">
        </textarea>
      </div>
    </div>
  </div>
</form>
