<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <label for="databaseSelect">Database</label>
      <select v-model="item.editing.database" class="form-control" id="databaseSelect">
        {% for m in model_objects.csv_schema.database.all %}
          <option value="{{ m.id }}">{{ m.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="nameInput">Name</label>
      <input required v-model="item.editing.name" id="nameInput" class="form-control" />
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="descriptionText">Description</label>
      <textarea v-model="item.editing.description" class="form-control" id="descriptionText">
      </textarea>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <label for="dateInput">Date Range</label>
      <input required v-model="item.editing.date_range" id="dateInput" class="form-control" />
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="linkInput">Link</label>
      <input type="url" v-model="item.editing.link" id="linkInput" class="form-control" />
    </div>
  </div>
</div>
