{% extends "base_templates/form_base.html" %}
{% load bootstrap %}
{% block form_title %}
  <h3>Edit {{ object }}</h3>
{% endblock %}

{% block form_contents %}
  <form class="content-offset" action="" method="post">
    {% csrf_token %}
    {% include view.model.get_form_template %}
    <div class="row">
      <div class="col-md-12 text-right">
        <input class="btn btn-primary" type="submit" value="Submit" />
        <a href="{{ object.get_delete_url }}" class="btn btn-danger">
          Delete
        </a>
        <a href="{{ view.model.get_edit_list_url }}" class="btn btn-default">
          Cancel
        </a>
      </div>
    </div>
  </form>

{% endblock %}
