Django==2.1.5
django-appconf==1.0.2
django-bootstrap-form==3.4
django-compressor==2.2
django-markdown-deux==1.0.5
django-webpack-loader==0.6.0
djangorestframework==3.9.0
gunicorn==19.9.0
markdown2==2.3.7
psycopg2-binary==2.7.6.1
pytz==2018.9
rcssmin==1.0.6
rjsmin==1.0.12
six==1.12.0
