decorator==4.1.2
Django==2.0
django-markdown-deux==1.0.5
enum34==1.1.6
markdown2==2.3.4
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
pytz==2017.2
scandir==1.6
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
wcwidth==0.1.7
gunicorn==19.7.1
django-bootstrap-form==3.3
