{% load staticfiles %}
{% url 'about_page' as about_page %}
{% url 'database_list' as database_list %}
{% url 'ncdr_reference_redirect' as ncdr_reference_redirect %}
{% url 'grouping_redirect' as grouping_redirect %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}NCDR Reference Library{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  	<link rel="stylesheet" href="{% static "css/nhsengland.css" %}">
  	<link rel="stylesheet" href="{% static "css/styles.css" %}">
  </head>
  <body data-spy="scroll" data-target="#navbar-example">
    {% block header %}
    <header class="masthead">
      <div style="overflow-y: hidden" class="container">
        <div class="row banner">
          <div class="col-md-12">
            <div class="top-logo">
              <hgroup class="header-strapline">
                <a class="logo" href="http://www.england.nhs.uk">
                  <img src="{% static "/img/logos/nhs-england-logo-rev.svg" %}" alt="NHS England Data Catalogue Logo" title="NHS England Data Catalogue Logo" data-intro="Clicking on this logo will always take you back to the homepage (just in case you get lost).">
                </a>
                <h2 class="subtitle">NCDR Reference Library</h2>
        	    </hgroup>
            </div>
          </div>
        </div>
        <div class="row header-nav">
          <div class="col-md-12">
            <nav>
              <ul>
                <li>
                  <a {% if 'database' in request.path %} class="active" {% endif %} href="{{ database_list }}">
                    Databases
                  </a>
                </li>
                <li>
                  <a {% if ncdr_reference_redirect in request.path %}class="active" {% endif %}href="{{ ncdr_reference_redirect }}">
                    References
                  </a>
                </li>
                <li>
                  <a {% if grouping_redirect in request.path %}class="active" {% endif %}href="{{ grouping_redirect }}">
                    Grouping
                  </a>
                </li>
                <li>
                  <a {% ifequal request.path about_page %}class="active" {% endifequal %}href="{{ about_page }}">
                    About
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    {% endblock header %}
    {% block contents %}
    {% endblock contents %}
    {% block footer %}
    <div class="row footer-cover">
      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-push-1">
              <div class="row">
                <div class="col-md-9">
                  <ul class="nav">
                  	<li>
                  	  <a href="http://www.england.nhs.uk/terms-and-conditions/">Terms &amp; Conditions</a>
                  	</li>
                  	<li>
                  	  <a href="http://www.england.nhs.uk/privacy-policy/">Privacy &amp; Cookies</a>
                  	</li>
                  	<li>
                  	  <a href="http://www.england.nhs.uk/comment-policy/">Social Media &amp; Comment Moderation</a>
                  	</li>
                  	<li>
                  	  <a href="http://www.england.nhs.uk/accessibility/">Accessibility</a>
                  	</li>
                  	<li>
                  	  <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence v0.3.0</a>
                  	</li>
                  </ul>
                  <div class="pull-right social-networks">
                        <a href="http://www.twitter.com/NHSEngland" title="Follow us on Twitter" target="_blank" class="external-link">
                         <span class="hide">Follow us on Twitter</span>
                        </a>
                        <a href="https://www.linkedin.com/company/nhsengland" title="Visit us on LinkedIn" target="_blank" class="external-link">
                         <span class="hide">Visit us on LinkedIn</span>
                        </a>
                        <a href="http://www.youtube.com/thenhsengland" title="Watch videos on YouTube" target="_blank" class="external-link">
                         <span class="hide">Watch videos on YouTube</span>
                        </a>
                        <a href="http://www.flickr.com/photos/nhsengland" title="View photos on Flickr" target="_blank" class="external-link">
                         <span class="hide">View photos on Flickr</span>
                        </a>
                        <a href="http://feeds.feedburner.com/NHSCBoard" title="All RSS" target="_blank" class="external-link">
                         <span class="hide">All RSS</span>
                        </a>
                     </div>
                  </div>
                  <div class="col-md-3 text-right">
                  	<a href="http://www.nhs.uk" title="NHS Choices" class="external-link" rel="external">
                  	  <img class="footer-logo" src="https://www.england.nhs.uk/wp-content/themes/nhsengland/static/img/nhs-choices-logo.svg" onerror="this.src='https://www.england.nhs.uk/wp-content/themes/nhsengland/static/img/nhs-choices-logo.png'; this.onerror=null;" alt="NHS Choices">
                    </a>
                  </div>
               </div>
             </div>
          </div>
        </div>
      </footer>
    </div>
    {% endblock footer %}
  </body>
</html>
