{% extends "base_templates/base.html" %}
This is the template that is used by everything on the
/form/ subfolder


{% block contents %}
  <div class="container main-content">
    {% block form_navigation %}
      <div class="row">
        <div class="col-md-12">
          <nav class="row">
            <a href="{{ view.model.get_edit_list_url }}" class="col-md-2">
              Edit {{ view.model.get_model_display_name_plural }}
            </a>
            <a href="{{ view.model.get_add_url }}" class="col-md-2">
              Add {{ view.model.get_model_display_name_plural }}
            </a>
            <div class="col-md-8">
              {% include 'partials/form_navigation.html' %}
            </div>
          </nav>
        </div>
      </div>
    {% endblock %}
    {% block form_title %}
      <div class="row">
        <div class="col-md-12">
          <h3>Edit {{ model.get_model_display_name_plural }}</h3>
          {% if model.get_form_description_template %}
            <div class="row nhs-england-well">
              {% include model.get_form_description_template %}
            </div>
          {% endif %}
          {% for m in object_list %}
            <div class="content-offset-below-20">
              <a href="{{ m.get_edit_url }}">
                {% include m.get_form_display_template %}
              </a>
              {% if not forloop.last %}
                <hr />
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endblock %}

    {% block form_contents %}
    {% endblock %}
  </div>
{% endblock %}
