<h3>
  <span class="column-title">
    <a href="{{ column.get_absolute_url }}">
      {{ column.name }}
    </a>
  </span>
  <small>
    {{ column.data_type }}
  </small>
  {% if not hide_groupings %}
    <small class="pull-right">
      {% if column.grouping %}
        <a href="{{ column.grouping.get_absolute_url }}" class="label label-default">{{ column.grouping }}</a>
      {% endif %}
    </small>
  {% endif %}
</h3>
<div class="row">
  <div class="col-md-12">
    <p>
      {{ column.description | urlize }}
    </p>
  </div>
</div>
<div class="row content-offset-top-25 content-offset-below-10">
  <div class="col-md-6">
    {% if column.useage_count > 1 %}
      <a href="{{ column.get_absolute_url }}">
        Used in {{ column.useage_count }} places
      </a>
    {% endif %}
  </div>
</div>
