[watcher:app]
cmd = gunicorn
args = ncdr_reference.wsgi -c deployment/config/gunicorn_conf.py
working_dir = /home/ubuntu/NCDR-reference
uid = ubuntu
numprocesses = 1
autostart = true
stdout_stream.class = FileStream
stdout_stream.filename = {{ LOG_DIR }}/gunicorn.stdout.log
stderr_stream.class = FileStream
stderr_stream.filename = {{ LOG_DIR }}/gunicorn.stderr.log
copy_env = true
virtualenv = {{ VIRTUALENV_PATH }}
virtualenv_py_ver = 3.6
