[watcher:app]
cmd = envdir env_vars gunicorn
args = --bind 127.0.0.1:4567 --workers=3 --timeout=120 --access-logfile=- --error-logfile=- --capture-output ncdr.wsgi
working_dir = {{ PROJECT_PATH }}
uid = ubuntu
numprocesses = 1
autostart = true
stdout_stream.class = FileStream
stdout_stream.filename = {{ LOG_DIR }}/ncdr.stdout.log
stderr_stream.class = FileStream
stderr_stream.filename = {{ LOG_DIR }}/ncdr.stderr.log
stdout_stream.max_bytes = 1073
stdout_stream.backup_count = 5
copy_env = true
virtualenv = {{ VIRTUALENV_PATH }}
virtualenv_py_ver = 3.6

[watcher:rq]
cmd = envdir env_vars python {{ PROJECT_PATH }}/rq_worker.py
working_dir = {{ PROJECT_PATH }}
uid = ubuntu
numprocesses = 1
autostart = true
stdout_stream.class = FileStream
stdout_stream.filename = {{ LOG_DIR }}/ncdr.stdout.log
stderr_stream.class = FileStream
stderr_stream.filename = {{ LOG_DIR }}/ncdr.stderr.log
stdout_stream.max_bytes = 1073
stdout_stream.backup_count = 5
copy_env = true
virtualenv = {{ VIRTUALENV_PATH }}
virtualenv_py_ver = 3.6
