# we use postgres in production
DATABASES = {
  'default': {
    'ENGINE': 'django.db.backends.postgresql_psycopg2',
    'NAME': '{{ DB_NAME }}',
    'USER': '{{ DB_USER }}',
    'PASSWORD': '{{ DB_PASSWORD }}',
    'HOST': 'localhost',
    'PORT': '5432',
  }
}

ALLOWED_HOSTS = [
    'localhost',
{% for key in hostvars.keys() %}
    '{{ key}}',
{% endfor %}
]

SECRET_KEY = '{{ SECRET_KEY }}'
DEBUG = False
