{% extends "forms/create/generic_create.html" %}
{% load bootstrap %}

{% block form_contents %}
<div class="row content-offset">
  <div class="col-md-12">
    {{ view.create_form_class.database|bootstrap }}
  </div>
</div>
<div class="row content-offset">
  <div class="col-md-12">
    {{ view.create_form_class.table|bootstrap }}
  </div>
</div>
<div class="row ">
  <div id="form-container" class="col-md-12 hidden">
    <hr />
    <form action="" method="post">
      {% csrf_token %}
      {{ formset.management_form }}
      <div id="items-form-container">
        {% for form in formset.forms %}
          {% if not forloop.first %}
            <hr />
          {% endif %}
          <div class="model-form">
            {% include "forms/create/column_form.html" %}
          </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-md-12 text-right">
          <a href="" id="add-another" class="btn btn-primary">
            Add Another
          </a>
          <a href="{{ view.model.get_edit_list_url }}" class="btn btn-default">
            Cancel
          </a>
          <input class="btn btn-primary" type="submit" value="Submit" />
        </div>
      </div>
    </form>
  </div>

    <script type="text/html" id="record-template">
      <div class="model-form" id="item-__prefix__">
        <hr />
        {% include "forms/create/column_form.html" with form=formset.empty_form %}
      </div>
    </script>
    <script>
      var addAnother = function(){
        var count = $('#items-form-container').children(".model-form").length;
        var tmplMarkup = $('#record-template').html();
        var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
        $('div#items-form-container').append(compiledTmpl);

        // update form count
        $('#id_form-TOTAL_FORMS').attr('value', count+1);

        // if the table has been set, set it in all added forms
        $('input[id*="-table"]').val($('select#id_table').val());
      }

      $("#add-another").click(function(e){
        e.preventDefault();
        addAnother();
      });
  </script>
</div>
<script>
    function modelMatcher (params, data) {
      data.parentText = data.parentText || "";

      // Always return the object if there is nothing to compare
      if ($.trim(params.term) === '') {
        return data;
      }

      // Do a recursive check for options with children
      if (data.children && data.children.length > 0) {
        // Clone the data object if there are children
        // This is required as we modify the object to remove any non-matches
        var match = $.extend(true, {}, data);

        // Check each child of the option
        for (var c = data.children.length - 1; c >= 0; c--) {
          var child = data.children[c];
          child.parentText += data.parentText + " " + data.text;

          var matches = modelMatcher(params, child);

          // If there wasn't a match, remove the object in the array
          if (matches == null) {
            match.children.splice(c, 1);
          }
        }

        // If any children matched, return the new object
        if (match.children.length > 0) {
          return match;
        }

        // If there were no matching children, check just the plain object
        return modelMatcher(params, match);
      }

      // If the typed-in term matches the text of this term, or the text from any
      // parent term, then it's a match.
      var original = (data.parentText + ' ' + data.text).toUpperCase();
      var term = params.term.toUpperCase();


      // Check if the text contains the term
      if (original.indexOf(term) > -1) {
        return data;
      }

      // If it doesn't contain the term, don't return anything
      return null;
    }

    // initialise the select 2 form's value
    if($('input#id_form-0-name').val().length){
      $('select#id_table').val(parseInt($('input#id_form-0-table').val()));
      $("#form-container").removeClass("hidden");
    }

    $('select#id_table').each(function(i, v){
      $(v).select2({
        matcher: modelMatcher,
        theme: "bootstrap",
        templateSelection: function(item) {
            var $option = $(item.element);
            var $optGroup = $option.parent();
            if($optGroup.attr('label')){
              return $optGroup.attr('label') + ' (' + item.text + ')';
            }
            else{
              return item.text;
            }
        }
      });
      $(v).change(function(e){
        $("#form-container").removeClass("hidden");
        $('input[id*="-table"]').val($(v).val());
      });
    });



</script>
{% endblock %}
