{% extends "base_templates/base.html" %}
This is the template that is used by everything on the
/form/ subfolder



{% block contents %}
  <div id="vue-container" class="container main-content">
    <aside class="side-nav col-md-3">
      <ul>
        <li class="list-title">
          {% with first_model=searchable_models|first %}
          <a href="{{ first_model.get_edit_list_url }}">
            Forms
          </a>
          {% endwith %}
        </li>
        {% for model in searchable_models %}
        <li>
          <a class="table-link{% if model.get_model_api_name == view.model.get_model_api_name %} active{% endif %}" href="{{ model.get_edit_list_url }}">
            {{ model.get_model_display_name_plural }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </aside>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-7">
          {% block form_title %}{% endblock %}
        </div>
        <div class="col-md-5 content-offset-below-20">
          {% block form_actions %}
            <nav class="form-action-nav">
              <a href="{{ view.model.get_edit_list_url }}" class="{% if request.get_full_path != view.model.get_add_url %}active-form {% endif %} col-md-6 text-center">
                Edit {{ view.model.get_model_display_name_plural }}
              </a>
              <a href="{{ view.model.get_add_url }}" class="{% if request.get_full_path == view.model.get_add_url %}active-form {% endif %}col-md-6 text-center">
                Add {{ view.model.get_model_display_name_plural }}
              </a>
            </nav>
          {% endblock %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {% block form_description %}
          {% endblock %}
        </div>
      </div>
      {% block form_contents %}
      {% endblock %}
    </div>
  </div>
{% block extra_js %}
{% endblock extra_js %}
{% endblock %}
