<p>
  Columns are, well database columns, that exist in Tables within the NCDR.
</p>
<p>
  Added and editted elements are <strong>unpublished</strong> by default.
</p>
<p>
  <a href="{{ models.csv_schema.column.get_unpublished_list_url }}">There are currently {{ model_objects.csv_schema.column.unpublished.count }} unpublished columns</a>
</p>
{% if model_objects.csv_schema.column.unpublished.exists %}
  <p>
    <form method="post" action="{{ models.csv_schema.column.get_publish_all_url }}?next={{ request.get_full_path }}">
      {% csrf_token %}
      <input class="btn btn-primary" type="submit" value="Publish All {{ model_objects.csv_schema.column.unpublished.count }} Columns" />
    </form>
  </p>
{% endif %}
