$primary-colour: #005eb8;
$primary-colour-light: #0072ce;
$secondary-colour: #003893;

// the grey that is used for <small>
$faded: #777;

// the grey used in the side bars
$tertiary-colour: #e8edee;
// the text colour used on that grey
$tertiary-colour-text: #425563;
// the blue text used for sub headers
$subheader-text-colour: #003087;

$text-colour: #202a30;
$text-colour-on-dark: #FFF;
$footer-height: 300px;
$main-content-margin: 20px;


// preview mode colours
$preview-primary-colour: #455C7B;
$preview-primary-colour-light: #AC6C82;
$preview-link-colour: #FFBC67;


@mixin primary-background-colour{
  background-color: $primary-colour;
  color: $text-colour-on-dark;

  .preview-mode &{
    background-color: $preview-primary-colour;
  }
}

@mixin primary-background-colour-hover{
  transition: background-color 0.2s ease-in-out;
  &:hover{
    background: #0072ce;
    color: #fff;
  }

  .preview-mode &:hover{
    background-color: darken($preview-primary-colour, 20%);
  }
}

@mixin primary-background-colour-light{
  background-color: $primary-colour-light;
  color: $text-colour-on-dark;

  a.btn {
    color: $text-colour-on-dark;
  }
  a:hover.btn {
    color: darken($text-colour-on-dark, 20%);
  }

  .preview-mode &{
    background-color: $preview-primary-colour-light;
    a.btn {
      color: $preview-link-colour;
    }
    a:hover.btn {
      color: lighten($preview-link-colour, 20%);
    }
  }
}

.relative{
  position: relative;
  z-index: 1000;
}

body {
  background: #fff;
  margin-top: 0;
  box-sizing: border-box;
  color: $text-colour;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  min-height: 100%;
  overflow-x: hidden;
}

.form-action-nav{
  padding-top: 22px;
}

.alert-container{
  position: absolute;
  right: 0;
  text-align: right;
  padding-right: 15px;
  top: 15px;
}

.alert-success{
  background-color: $tertiary-colour;
  color: $tertiary-colour-text;
}

.banner-head{
  @include primary-background-colour-light;
  position: absolute;
  width: 100%;
}

.form-nav{
  display: inline-block;
  width: 110px;
}

.header-img{
  max-width: 100%;
  border: 5px solid #e8edee;
}

.ncdr-breadcrumbs{
  display: inline-block;
  padding-right: 16px;
  margin-right: 8px;
  background: url(../img/icons/chevron.svg) no-repeat 100% 50%;
  background-size: 9px 12px;
}

.content-offset{
  margin-top: 50px;
}

.content-offset-30{
  margin-top: 30px;
}

.content-offset-10{
  margin-top: 10px;
}

.ncdr-alert{
  display: inline-block;
}

.faded{
  color: $faded;
  font-weight: 400;
}

.content-offset-below{
  margin-bottom: 50px;
}

.content-offset-below-10{
  margin-bottom: 10px;
}

.content-offset-below-20{
  margin-bottom: 20px;
}

.content-offset-below-40{
    margin-bottom: 40px;
  }

h3.subheader{
  color: $subheader-text-colour;
  margin-top: 30px;
  margin-bottom: 20px;
}

h4.subheader{
  margin-top: 20px;
  margin-bottom: 10px;
}

.nhs-england-well{
  padding: 60px;
  background-color: $tertiary-colour;
  margin: 0 0 30px;
}

.coloured-stripe{
  background-color: $tertiary-colour;
  padding-top: 50px;
  padding-bottom: 50px;

  hr{
    border-top: 1px solid #adbcc7;
  }
}

header.masthead{
  @include primary-background-colour;
  // height: 223px;
  padding: 54px 0 0 0;

  .container, .container-fluid{
    overflow-y: hidden;
  }

  .logo img{
    display: inline-block;
    height: 90px;
    width: auto;
  }

  .subtitle{
    display: inline-block;
    padding-left: 30px;
    color: $text-colour-on-dark;
  }

  .banner{
    height: 140px;
  }

  .header-nav{
    height: 35px;
  }
  ul{
    padding-left: 0;
  }

  li{
    display: inline-block;
    a{
      padding: 15px 30px;
      color: white;

      &:hover, &.active{
        @include primary-background-colour-light;
        text-decoration: none;
      }
    }
  }

}

footer{
  &.site-footer{
    background-color: #e8edee;
    background-image: none;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    z-index: 600;
    bottom: 0;
    position: absolute;
  }

  .footer-logo {
      height: 70px;
      width: auto;
  }

  .nav{
    float: left;

    a{
      color: #425563;
      padding: 1px 0;
    }

    & > li{
      position: relative;
      display: block;
    }
  }
  color: #425563;
  padding: 1px 0;

  .social-networks a {
      padding-top: 30px;
      padding-bottom: 30px;
      &:hover{
        text-decoration: none;
      }
  }

  .social-networks a:before {
      content: '';
      width: 38px;
      height: 38px;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: 24px 24px;
      background-position: center center;
      z-index: 1000;
      padding: 5px;
      border: 2px solid #adbcc7;
  }

  .social-networks a[href^="http://feeds.feedburner.com/"]:before {
      background-image: url(../img/icons/rss.svg);
  }

  .social-networks a[href^="http://flickr.com/"]:before, .social-networks a[href^="http://www.flickr.com/"]:before, .social-networks a[href^="https://flickr.com/"]:before, .social-networks a[href^="https://www.flickr.com/"]:before {
      background-image: url(../img/icons/flickr.svg);
  }

  .social-networks a[href^="http://youtube.com/"]:before, .social-networks a[href^="http://www.youtube.com/"]:before, .social-networks a[href^="https://youtube.com/"]:before, .social-networks a[href^="https://www.youtube.com/"]:before {
      background-image: url(../img/icons/youtube.svg);
  }

  .social-networks a[href^="http://linkedin.com/"]:before, .social-networks a[href^="http://www.linkedin.com/"]:before, .social-networks a[href^="https://linkedin.com/"]:before, .social-networks a[href^="https://www.linkedin.com/"]:before {
      background-image: url(../img/icons/linkedin.svg);
  }

  .social-networks a[href^="http://twitter.com/"]:before, .social-networks a[href^="http://www.twitter.com/"]:before, .social-networks a[href^="https://twitter.com/"]:before, .social-networks a[href^="https://www.twitter.com/"]:before {
      background-image: url(../img/icons/twitter.svg);
  }
}

.footer-cover{
  margin-top: $footer-height;
  position: relative;
}

.pagination a:hover{
  text-decoration: none;
}

.pagination{
  margin-bottom: 0;
}

.large{
  font-size: 22.5px;
}

.coloured-header{
  color: $subheader-text-colour;
}

.main-content{
  margin-top: $main-content-margin;
}

h1{
  margin-top: 30px;
  margin-bottom: 60px;
}

.card-list{
  .title{
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 36px;
    color: $text-colour;
    font-weight: 600;
  }

  article{
    min-height: calc(100vh - #{$footer-height + 242px});
  }

  .card{
    padding-left: 10px;
    padding-right: 10px;

    h3{
      margin-bottom: 15px;

      .sub{
        font-size: 20px;
      }
    }

    a{
      transition: background-color 0.2s ease-in-out;
      background: $primary-colour;
      color: $text-colour-on-dark;
      height: 137px;
      font-size: 22.5px;
      cursor: pointer;
      display: block;
      position: relative;
      padding: 10px;
      text-decoration: none;

      &:hover{
        background: $primary-colour-light;
        text-decoration: none;
      }
    }
  }

  .arrow{
      height: 32px;
      width: 32px;
      position: absolute;
      bottom: 10px;
      right: 10px;
  }
}

hr {
    border-top: 1px dotted $tertiary-colour;
    margin-top: 20px;
    margin-bottom: 20px;
}

.table-detail{
  &.main-content{
    margin-top: $main-content-margin;
  }


  .title{
    font-size: 32px;
    line-height: 36px;
    color: $text-colour;
  }

  .column-title{
      color: $primary-colour;
      font-size: 22px;
      font-weight: 600;
  }

  .sub-column-title{
    line-height: 1.25;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
    color: lighten($tertiary-colour-text, 10%);
  }


  .dictionary-references{
      font-size: 80%;

      a{
        color: $primary-colour;
      }
  }
}

.side-nav{
  padding-right: 60px;
  padding: 0;
  ul{
    padding: 0;
    margin-right: 50px;
  }

  li{
    margin-top: 5px;
    list-style: none;
  }

  .table-link{
    display: block;
    background-color: $tertiary-colour;
    color: $tertiary-colour-text;
    padding: 5px 10px;
    word-wrap: break-word;
    font-size: 16px;
  }

  a.internal-link{
    padding-left: 20px;
  }

  .list-title{
    margin-top: 5px;

    div, a{
      color: $text-colour-on-dark;
      background-color: $secondary-colour;
      display: block;
      padding: 5px 10px;
      word-wrap: break-word;
    }
  }

  a.active{
    background-color: $primary-colour;
    color: $text-colour-on-dark;
    font-weight: 600;
  }

  a:hover{
    background-color: $primary-colour-light;
    color: $text-colour-on-dark;
  }
}

.link:hover{
  fill: $primary-colour;
}

.letter-link{
  width: 8.3333333333%;
  font-size: 27px;
  float: left;
  padding: 10px 0;
  background-color: $primary-colour;
  color: $text-colour-on-dark;
  display: block;
  border: 1px solid $text-colour-on-dark;
  text-align: center;
  text-decoration: none;

  &.unpopulated{
    background-color: lighten(desaturate($primary-colour, 50%), 15%);
  }

  &.active{
    background-color: $tertiary-colour;
    color: $text-colour;
  }

  &.active:hover{
    color: $text-colour;
  }

  &.active:visited{
    color: $text-colour;
  }

  &:hover, &:active, &:visited{
    color: $text-colour-on-dark;
  }
}

.normal-text{
  font-weight: 400;
}

.hidden-form{
  display: none;
}

.active-form{
  background-color: $primary-colour;
  color: $text-colour-on-dark;
  border-radius: 5px;

  &:hover{
    color: $text-colour-on-dark;
    background-color: $primary-colour-light;
  }
}

.ncdr-search{
  padding-top: 40px;
  display: block;

  input{
    border-radius: 0;
    border: 2px solid #FFF;
    padding: 5px;
    margin: 0;
    outline: 0;
    height: 38px;
    box-sizing: border-box;
    width: 50%;
    font-size: 14px;
    color: #555;

    &:focus{
      border: 2px solid #ffb81c;
    }
  }

  button{
    border: 2px solid #fff;
    padding: 8px 30px;
    border-radius: 0;
    @include primary-background-colour;
    @include primary-background-colour-hover;
  }
}

.hidden{
  display: none;
}

[v-cloak] { display:none }

// SVG Icons
.nhsuk-icon {
  display: inline-block;
  height: 30px;
  width: 30px;
}
.nhsuk-icon__cross {
  fill: #da291c;
}
.nhsuk-icon__tick {
  fill: none;
  stroke: #007f3b;
}

// Version List
.versions, .column-images{
  .line {
    align-items: center;
    display: flex;
    padding: 10px 20px;
  }

  a.line{
      text-decoration: none;
      cursor: pointer;
      color:  inherit;
      @include primary-background-colour-hover
  }

  .striped {
    background-color: rgba(0, 0, 0, .05);
  }

  span {
    display: inline-block;
  }

  span.number {
    display: inline-block;
    text-align: center;
    width: 50px;
  }

  span.created {
    display: inline-block;
    width: 250px;
  }

  span.author {
    flex-grow: 1;
  }

  span.processed {
    width: 215px;
  }

  span.file_name{
    width: 250px;
  }

  span.published {
    height: 30px;
    text-align: center;
    width: 95px;
  }

  span.image{
    width: 250px;
    overflow: hidden;
    text-align: center;

    img{
      height: 80px;
      max-width: 240px;
    }
  }

  span.tools {
    text-align: left;
    width: 165px;

    a {
      display: inline-block;
    }

    form {
      display: inline-block;
      margin-left: 10px;
    }
  }
}

.column-image-edit{
    ul.errorlist{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}

// Version audit log
.audit-log {
  .line {
    align-items: center;
    display: flex;
    padding: 10px 20px;
  }

  .striped {
    background-color: rgba(0, 0, 0, .05);
  }

  .date {
    display: inline-block;
    width: 250px;
  }
}

// Version upload form
form.upload {
  .form-group {
    align-items: baseline;
    display: flex;
    margin-bottom: 0;
  }

  input[type="file"] {
    display: flex;
  }

  .help-text {
    color: #737373;
    font-size: 70%;
  }
}

a.version-menu {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    border-right: 1px solid $primary-colour-light;
    .preview-mode &{
        border-right: 1px solid darken($preview-primary-colour-light, 5%);
    }
    margin-left: 0;
    margin-right: 0;

    &:first-child{
        border-right: none;
    }

    &:hover, &.active{
        color: white;
        @include primary-background-colour-light;
        text-decoration: none;
    }
}

// Metrics Detail
hr.divisor {
  background-color: #265eb2;
  border: 0;
  height: 2px;
}

.overflowing-url a {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

mark{
    padding: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    width: 100%;
    border-radius: 0;
    border: none;
    @include primary-background-colour-light;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: $text-colour-on-dark;
}

.select2-selection__choice__remove{
    float: right;
}
