{% extends "base_templates/form_base.html" %}
{% block form_title %}
  <h3>Edit {{ view.model.get_model_display_name_plural }}</h3>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script src="https://unpkg.com/vue"></script>
{% endblock js %}


{% block form_description %}
  {% if view.model.get_form_description_template %}
    <div class="row nhs-england-well">
      {% include view.model.get_form_description_template %}
    </div>
  {% endif %}
{% endblock %}
{% block form_contents %}
  <div class="row">
    <div class="col-md-12">
      {% for m in object_list %}
        <div class="content-offset-below-20">
          {% include m.get_form_display_template %}
          {% if not forloop.last %}
            <hr />
          {% endif %}
        </div>
      {% endfor %}
      {% if not object_list %}
        {% block empty_list %}
          <h1 class="faded text-center">There are currently no {{ view.model.get_model_display_name_plural }}</h1>
        {% endblock %}
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% if is_paginated %}
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
          {% endif %}
          {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
  </div>

{% endblock %}

{% block extra_js %}
  {% if view.model.get_edit_list_js_template %}
    {% include view.model.get_edit_list_js_template %}
  {% endif %}
{% endblock extra_js %}
