<div class="row">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputRowName{{ forloop.counter }}">Data Item</label>
      <input type="text" class="form-control" id="inputRowName{{ forloop.counter }}" value="{{ row.data_item }}">
    </div>
    <div class="form-group col-md-6">
      <label for="inputDataType{{ forloop.counter }}">Data Type</label>
      <input type="text" class="form-control" id="inputDataType{{ forloop.counter }}" value="{{ row.data_item }}">
    </div>
  </div>
</div>


<div class="row">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputDescription{{ forloop.counter }}">Description</label>
      <textarea class="form-control" id="inputDescription{{ forloop.counter }}" rows="3">
        {{ row.description }}
      </textarea>
    </div>
    <div class="form-group col-md-6">
      <label for="inputDerivation{{ forloop.counter }}">Derivation</label>
      <textarea class="form-control" id="inputDerivation{{ forloop.counter }}" rows="3">
        {{ row.derivation }}
      </textarea>
    </div>
  </div>
</div>
