<div class="row content-offset-below-20">
  <div class="col-md-7">
    <h3>{{ VERSION_TITLE }}
    {% if VERSION_SUBTITLE %}
      <small>{{ VERSION_SUBTITLE }}</small>
    {% endif %}
    </h3>
  </div>

  <div class="col-md-5 pull-right text-right">
    {% comment %}
    <a class="version-menu pull-right{% if request.resolver_match.url_name == 'timeline' %} active{% endif %}"  href="{% url 'timeline' %}">Timeline</a>
    {% endcomment %}
    <a class="version-menu pull-right{% if request.resolver_match.url_name == 'audit-log' %} active{% endif %}" href="{% url 'audit-log' %}">Audit Log</a>
    <a class="version-menu pull-right{% if request.resolver_match.url_name == 'version_list' %} active{% endif %}" href="{% url 'version_list' %}">List</a>
  </div>
</div>
