{% extends "base.html" %}

{% load static %}

{% block contents %}
  <div class="container main-content">
    <div class="row">
      <div class="col-md-10">
        <article>
          <div class="row">
            <div class="col-md-12">
              <a class="ncdr-breadcrumbs" href="{% url 'index_view' %}">Home</a> About
            </div>
          </div>

          <h1>About</h1>
          <div class="row">
            <div class="col-md-12">
              <img class="header-img" src="{% static "/img/stetho-computer.jpg" %}" />
            </div>
          </div>
          <p class="content-offset-30">
            The Unified Data Access Layer (UDAL) Reference Library
            holds definitions of all data items held on the UDAL. The UDAL
            is the pseudonymised patient-level data repository managed by the
            NHS England team Data Services. It is designed to deliver
            consistent data processing, linkage and reporting services, mainly
            for the use of NHS England analytical teams in order to aid in the
            delivery of a wide range of projects, including the Long Term Plan.
          </p>

          <p>
            If you would like any further information, want to be involved with
            developing further content or wish to provide us with feedback,
            please
            <a href="mailto:england.dataservices@nhs.net" target="_blank">contact us</a>.
          </p>

          <h3 class="subheader">Who are Data Services?</h3>
          <p>
            The UDAL Reference Library is owned and managed by the Data Services
            team. Data Services was established by NHS England to ensure that
            information about the performance and impact of NHS services is available
            when decisions are made about the commissioning of health services. Data
            Services also ensures that information has been accessed legally in accordance
            with all applicable laws and mandatory guidance contained within the Health
            and Social Care Act 2012, the Care Act 2014 and the European Union General
            Data Protection Regulations 2018 (GDPR).
          </p>
          <p>
            Data Services provides information to analysts working for NHS England in the
            form of data warehouses and packages of specific sets of data. The packages of data
            we produce enables analysts to provide evidence in the form of reports and
            dashboards to support the NHS drive to improve health and wellbeing across England.
          </p>
          <p>
            If you are interested in finding out more about Data Services, please see our
            <a href="https://www.england.nhs.uk/ourwork/tsd/data-services/">website</a> or
            <a href="mailto:england.dataservices@nhs.net">contact us</a>.
          </p>

          <h3 class="subheader">What is on the UDAL Reference Library?</h3>

          <h4 class="subheader">Databases</h4>
          <p>
              This contains definitions of all databases and tables within the UDAL,
              along with detailed descriptions of all data items. This is to assure
              analysts that the data items they use in their analyses are correct,
              both in how they are derived by the UDAL team and how they are used by
              the analysts themselves.
          </p>
          <p>Useful if you need to understand the specific contents of a table or database.</p>

          <h4 class="subheader">Data Items</h4>
          <p>
              This is one list of all unique data items found in the UDAL, and from
              there says which databases and tables they can be found in. This allows
              analysts to transfer their knowledge of certain datasets to others when
              the need arises.
          </p>

          <p>
            Useful if you are looking for a specific data item and don’t know where to find it.
          </p>

          <h4 class="subheader">Groupings</h4>
          <p>
            This collects similar themed data items together into groups to help with
            navigation and usability.
          </p>
          <p>Useful if you know you want to investigate a certain area but are not sure
            of what data items are available.
          </p>

        </article>
      </div>
    </div>
  </div>
{% endblock contents %}
