{% extends "base.html" %}

{% load static %}

{% block contents %}
  <div class="container main-content">
    <div class="row">
      <div class="col-md-10">
        <article>
          <div class="row">
            <div class="col-md-12">
              <a class="ncdr-breadcrumbs" href="{% url 'index_view' %}">Home</a> About
            </div>
          </div>

          <h1>About</h1>
          <div class="row">
            <div class="col-md-12">
              <img class="header-img" src="{% static "/img/stetho-computer.jpg" %}" />
            </div>
          </div>
          <p class="content-offset-30">
            The National Commissioning Data Repository (NCDR) Reference Library
            holds definitions of all data elements held on the NCDR. The NCDR
            is the pseudonymised patient-level data repository managed by the
            NHS England Data Services team. It is designed to deliver
            consistent data processing, linkage and reporting services, mainly
            for the use of NHS England analytical teams in order to aid in the
            delivery of a wide range of projects, including the Long Term Plan.
          </p>

          <p>
            If you would like any further information, want to be involved with
            developing further content or wish to provide us with feedback,
            please
            <a href="mailto:england.dataservices@nhs.net" target="_blank">contact us</a>.
          </p>

          <h3 class="subheader">Who are Data Services?</h3>
          <p>
            The Data Services programme was established to improve NHS
            commissioning by ensuring that commissioning decisions, and the
            insights supporting them, are based upon robust, reliable data that
            has been processed efficiently and is accessed legally. Ensuring
            that all staff and organisations which support or carry out NHS
            commissioning activities will be fully and demonstrably compliant
            with the requirements of the
            <a href="https://www.igt.hscic.gov.uk/">information governance toolkit</a>
            and in line with applicable law and mandatory guidance contained
            within the requirements of the Health and Social Care Act 2012 and
            the Care Act 2014. In addition, that identifiable data is used only
            when there is a clear need and stated legal basis to do so.
          </p>
          <p>
            Data Services develop and maintain the National Commissioning Data
            Repository (NCDR) and the Cube data warehouse and analysis service.
            These provide analysts working within the NHS access to
            pseudonymised and aggregated data which can be used to investigate
            activity, trends and costs across the whole of the NHS system. This
            allows reports and dashboards to be created that allow the NHS to
            be managed more efficiently which is vitally important in times of
            high demand on services.
          </p>

          <h3 class="subheader">What is on the Rference Library</h3>

          <h4 class="subheader">Databases</h4>
          <p>
            This contains definitions of all databases and tables within the
            NCDR, along with detailed descriptions of all data elements. This
            has been done so analysts can be assured that the data elements
            they use in their analyses are correct, both in how they are
            derived by the NCDR team and how they are used by the analysts
            themselves.
          </p>

          <p>
            Useful if you need to understand the specific contents of a table or database.
          </p>

          <h4 class="subheader">Data Elements</h4>
          <p>
            This is one list of all unique data elements found in the NCDR, and
            from there says which databases and tables they can be found in.
            This allows analysts to transfer their knowledge of certain
            datasets to others when the need arises.
          </p>

          <p>
            Useful if you are looking for a specific data element and don’t
            know where to find it.
          </p>

          <h4 class="subheader">Groupings</h4>
          <p>
            Groupings are collections of Data Elements that contain information
            about a similar theme.
          </p>

        </article>
      </div>
    </div>
  </div>
{% endblock contents %}
