{% load static %}
{% load utils %}

{% url 'about_page' as about_page %}
{% url 'database_list' as database_list %}
{% url 'column_redirect' as column_redirect %}
{% url 'data_element_list' as data_element_list %}
{% url 'grouping_redirect' as grouping_redirect %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-store" />
    <meta http-equiv="expires" content="-1" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <title>{% block title %}NCDR Reference Library{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css" />

    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.js" integrity="sha256-m4GLhtBF1Ue31vdmii9AEzvSYnBTJFzYkVToaD047Z4=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    {% block staticfiles %}
      {% block js %}{% endblock js %}

      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

      	<link rel="stylesheet" href="{% static "css/nhsengland.css" %}">
      	<link rel="stylesheet" href="{% static "css/styles.css" %}">
    {% endblock staticfiles %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.js"></script>
  </head>
  <body {% if not request.version.is_published %}class="preview-mode"{% endif %}>
    {% if request.user.is_authenticated %}
    <div class="banner-head">
      <div class="container content-offset-10 content-offset-below-10">
        <div class="row">
          <div class="col-md-12 text-center">
            {% if user.current_version and user.current_version != latest_version %}
            <span class="small pull-left">Data version: {{ user.current_version.pk }}</span>
            {% endif %}

            {% if not request.version.is_published %}You are currently viewing a preview version of the site{% endif %}

            <a class="btn pull-right relative" href="{% url 'logout' %}?next={{ request.get_full_path }}">Log Out</a>

            <a class="btn pull-right relative" href="{% url 'version_list' %}">Versions</a>

            {% if not request.version.is_published %}
            <a class="btn pull-right relative" href="{% url 'switch-to-latest-version' %}?next={{ request.get_full_path }}">View Normal Site</a>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% block header %}
    <header class="masthead">
      <div style="overflow-y: hidden" class="container">
        <div class="row banner">
          <div class="col-md-6">
            <div class="top-logo">
              <hgroup class="header-strapline">
                <a class="logo" href="http://www.england.nhs.uk">
                  <img src="{% static "/img/logos/nhs-england-logo-rev.svg" %}" alt="NHS England Data Catalogue Logo" title="NHS England Data Catalogue Logo" data-intro="Clicking on this logo will always take you back to the homepage (just in case you get lost).">
                </a>
                <h2 class="subtitle">NCDR Reference Library</h2>
        	    </hgroup>
            </div>
          </div>
          <div class="col-md-5 col-md-push-1 text-right">
            <form class="ncdr-search" method="get" action="{% url 'search_redirect' %}">
              <input type="text" value="{{ request.GET.q }}" name="q" autocomplete="off">
              <button type="submit" class="btn">
                Search Reference Library
              </button>
            </form>
            {% block messages %}
              {% if messages %}
                <div class="alert-container">
                  {% for message in messages %}
                    <div class="alert alert-success ncdr-alert" role="alert">
                      {{ message }}
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            {% endblock %}
          </div>
        </div>
        <div class="row header-nav">
          <div class="col-md-12">
            <nav>
              <ul>
                <li>
                  <a {% if request|url_name == 'database_detail' or request|url_name == 'database_list' %} class="active" {% endif %} href="{{ database_list }}">
                    Databases
                  </a>
                </li>
                <li>
                  <a {% if request|url_name == 'data_element_detail' or request|url_name == 'data_element_list' %} class="active" {% endif %} href="{{ data_element_list }}">
                    Data Elements
                  </a>
                </li>

                <li>
                  <a {% if request|url_name == 'grouping_redirect' %}class="active" {% endif %} href="{{ grouping_redirect }}">
                    Groupings
                  </a>
                </li>
                <li>
                  <a {% ifequal request.path about_page %}class="active" {% endifequal %} href="{{ about_page }}">
                    About
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    {% endblock header %}
    {% block contents %}
    {% endblock contents %}
    {% block footer %}
    <div class="row footer-cover">
      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-push-1">
              <div class="row">
                <div class="col-md-9">
                  <ul class="nav">
                    {% if request.user.is_authenticated %}
                      <li>
                        <a href="{% url 'logout' %}?next={{ request.get_full_path }}">Log Out</a>
                      </li>
                    {% else %}
                      <li>
                        <a href="{% url 'login' %}?next={{ request.get_full_path }}">Log In</a>
                      </li>
                    {% endif %}
                  	<li>
                  	  <a target="_blank" href="http://www.england.nhs.uk/terms-and-conditions/">Terms &amp; Conditions</a>
                  	</li>
                  	<li>
                  	  <a target="_blank" href="http://www.england.nhs.uk/privacy-policy/">Privacy &amp; Cookies</a>
                  	</li>
                  	<li>
                  	  <a target="_blank" href="http://www.england.nhs.uk/comment-policy/">Social Media &amp; Comment Moderation</a>
                  	</li>
                  	<li>
                  	  <a target="_blank" href="http://www.england.nhs.uk/accessibility/">Accessibility</a>
                  	</li>
                  	<li>
                  	  <a target="_blank" href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence v0.3.0</a>
                  	</li>
                  </ul>
                  <div class="pull-right social-networks">
                        <a target="_blank" href="http://www.twitter.com/NHSEngland" title="Follow us on Twitter" target="_blank" class="external-link">
                         <span class="hide">Follow us on Twitter</span>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/company/nhsengland" title="Visit us on LinkedIn" target="_blank" class="external-link">
                         <span class="hide">Visit us on LinkedIn</span>
                        </a>
                        <a target="_blank" href="http://www.youtube.com/thenhsengland" title="Watch videos on YouTube" target="_blank" class="external-link">
                         <span class="hide">Watch videos on YouTube</span>
                        </a>
                        <a target="_blank" href="http://www.flickr.com/photos/nhsengland" title="View photos on Flickr" target="_blank" class="external-link">
                         <span class="hide">View photos on Flickr</span>
                        </a>
                        <a href="http://feeds.feedburner.com/NHSCBoard" title="All RSS" target="_blank" class="external-link">
                         <span class="hide">All RSS</span>
                        </a>
                     </div>
                  </div>
                  <div class="col-md-3 text-right">
                  	<a target="_blank" href="http://www.nhs.uk" title="NHS Choices" class="external-link" rel="external">
                  	  <img class="footer-logo" src="https://www.england.nhs.uk/wp-content/themes/nhsengland/static/img/nhs-choices-logo.svg" onerror="this.src='https://www.england.nhs.uk/wp-content/themes/nhsengland/static/img/nhs-choices-logo.png'; this.onerror=null;" alt="NHS Choices">
                    </a>
                  </div>
               </div>
             </div>
          </div>
        </div>
      </footer>
    </div>
    {% endblock footer %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51757615-1', 'england.nhs.uk');
      ga('send', 'pageview');
    </script>

    <!-- Start of nhse Zendesk Widget script -->
    <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","nhse.zendesk.com");
    /*]]>*/</script>

  </body>
</html>
