{% extends "base.html" %}

{% block contents %}
<form method="POST">
  <div class="container main-content">
    {% include 'partials/column_image_menu.html' with TITLE=view.title %}
    <div class="row">
      <div class="col-md-8">
        {% csrf_token %}
        <h1>
            Delete you want to delete {{ object.image.name}}
            <br>
            <button class="btn btn-lg btn-danger" type="submit">Delete</button>
        </h1>
        <div class="form-group">
          <a href="{% url 'column_image_edit' pk=object.pk %}" class="btn btn-danger">
            Cancel
          </a>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock contents %}
