{% extends "base.html" %}
{% load utils %}

{% block contents %}
  <div class="card-list container main-content">
    <article>
      <a class="ncdr-breadcrumbs" href="{% url 'index_view' %}">Home</a>
      Data Elements

      <nav class="content-offset">
        <div class="row">
          <div class="col-md-12">
            {% for letter, other_page, exists in other_pages %}
              <a class="letter-link {% if request.GET.letter == letter %}active {% elif not exists %} unpopulated{% endif %}" href="{{ other_page }}">
                {{ letter }}
              </a>
            {% endfor %}
          </div>
        </div>
      </nav>

      <div class="row">
        <div class="col-md-12">
          <h1 class="title">Data Elements</h1>
        </div>
      </div>
      <div class="row nhs-england-well">
        <div class="col-md-12">
          <p>
            Data elements are collections of similarly defined data items,
            potentially from different sources.
          </p>
        </div>
      </div>

      {% if not object_list %}
        <h1 class="faded text-center">No Data Elements start with {{ request.GET.letter }}</h1>
      {% endif %}
      <div class="row">
        <div class="col-md-10">
          {% for data_element in object_list %}
            {% include "partials/data_element.html" %}
            {% if not forloop.last %}
              <hr />
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% pagination %}
    </article>
  </div>
{% endblock contents %}
