{% extends "base_templates/base.html" %}
{% load markdown_deux_tags %}
{% load utils %}
{% block contents %}
  <div class="card-list container main-content">
    <article>
      <h1 class="title">
        Databases
      </h1>
      {% for databases in object_list|chunked:3 %}
        <div class="row">
          {% for database in databases %}
          <div class="col-md-4 card">
            <div class="row">
              <div class="col-md-12">
                <h3>
                  <a href="{{ database.get_absolute_url }}">
                    <p>
                      {{ database.get_display_name }}
                    </p>
                    <div class="arrow">
                      {% include 'partials/arrow.html' %}
                    </div>
                  </a>
                </h3>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      {% endfor %}
    </article>
  </div>
{% endblock contents %}
