{% extends "base_templates/base.html" %}
{% load utils %}
{% load markdown_deux_tags %}
{% block contents %}
  <div class="main-content container main-content">
    <article >
      <a class="ncdr-breadcrumbs" href="{% url 'database_list' %}">Home</a><a class="ncdr-breadcrumbs" href="{% url 'grouping_redirect' %}">Groupings</a>{{ object.name }}
      <h1 class="title">
        <div class="row">
          <div class="col-sm-12">
            {{ object.name }}
          </div>
        </div>
      </h1>
      {% if object.description %}
        <div class="row nhs-england-well">
          <div class="col-md-12">
            {{ object.description | markdown }}
          </div>
        </div>
      {% endif %}
      {% with object.dataelement_set.all|viewable:request as data_elements %}
        {% for data_element in data_elements %}
          {% include 'partials/data_element.html' %}
        {% endfor %}
      {% endwith %}
    </article>
  </div>
{% endblock contents %}
