{% extends "base_templates/base.html" %}
{% load utils %}
{% load markdown_deux_tags %}
{% block contents %}
  <div class="main-content container main-content">
    <article >
      <a class="ncdr-breadcrumbs" href="{% url 'database_list' %}">Home</a>
      <a class="ncdr-breadcrumbs" href="{% url 'grouping_redirect' %}">Groupings</a>
      {{ grouping.name }}
      <h1 class="title">
        <div class="row">
          <div class="col-sm-12">
            {{ grouping.name }}
          </div>
        </div>
      </h1>
      {% if grouping.description %}
        <div class="row nhs-england-well">
          <div class="col-md-12">
            {{ grouping.description | markdown }}
          </div>
        </div>
      {% endif %}

      {% for data_element in object_list %}
        {% include 'partials/data_element.html' %}
      {% endfor %}

      {% if is_paginated %}
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
          {% endif %}
          {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
      {% endif %}
    </article>
  </div>
{% endblock contents %}
