{% extends "base.html" %}

{% block contents %}
<div class="container main-content">

  <aside class="side-nav col-md-3">
    <ul>
      <li class="list-title"><a>Search</a></li>

      {% for result in results %}
      <li>
        <a
          class="table-link{% if result.name == model_name %} active{% endif %}"
          href="{% url 'search' model_name=result.name %}?{{ query }}">
          {{ result.display_name }}
          <span class="pull-right">{{ result.count }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </aside>

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        <h2>
          {{ paginator.count }} {{ model_display_name|lower }}{{ paginator.count|pluralize }} found containing '{{ request.GET.q }}'
        </h2>
      </div>
    </div>

    {% for result in object_list %}

      {% if not forloop.first %}<hr />{% endif %}

      <div class="search-result">
        {% include model_template %}
      </div>

    {% endfor %}

    {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}&{{ query }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if i > page_obj.number|add:-5 and i < page_obj.number|add:5 %}
            {% if page_obj.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li><a href="?page={{ i }}&{{ query }}">{{ i }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}&{{ query }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}

  </div>
</div>

{# Highlight search query in search results text #}
<script>
  $(".search-result").mark("{{ request.GET.q }}", {});
</script>

{% endblock %}
