{% extends "base.html" %}
{% load utils %}

{% block contents %}
<div class="container main-content">

  <aside class="side-nav col-md-3">
    <ul>
      <li class="list-title"><a>Search</a></li>

      {% for result in results %}
      <li>
        <a
          class="table-link{% if result.name == model_name %} active{% endif %}"
          href="{% url 'search' model_name=result.name %}?{{ query }}">
          {{ result.display_name }}
          <span class="pull-right">{{ result.count }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </aside>

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        <h2>
          {{ paginator.count }} {{ model_display_name|lower }}{{ paginator.count|pluralize }} found containing '{{ request.GET.q }}'
        </h2>
      </div>
    </div>

    {% for result in object_list %}

      {% if not forloop.first %}<hr />{% endif %}

      <div class="search-result">
        {% include model_template %}
      </div>

    {% endfor %}

    {% pagination %}
  </div>
</div>

{# Highlight search query in search results text #}
<script>
  $(".search-result").mark("{{ request.GET.q }}", {});
</script>

{% endblock %}
