{% extends "base.html" %}

{% block contents %}
<div class="container main-content">
  <aside class="side-nav col-md-3">
    <ul>
      <li class="list-title"><a>Search</a></li>

      {% for model, count in results %}
      <li>
        {% with result_model=object_list|first %}
        <a
          class="table-link{% if model.get_model_name == result_model.get_model_name %} active{% endif %}"
          href="{% url 'search' model_name=model.get_model_name %}?q={{ request.GET.q }}&search_option={{ request.GET.search_option }}">
          {{ model.get_model_display_name_plural }}
          <span class="pull-right">
            {{ count }}
          </span>
        </a>
        {% endwith %}
      </li>
      {% endfor %}
  </aside>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        <h2>
          {% if paginator.count %}
            {{ paginator.count }}
            {% if paginator.count == 1 %}
            {{ view.model.get_model_display_name.lower }}
            {% else %}
            {{ view.model.get_model_display_name_plural.lower }}
            {% endif %}
            found containing '{{ request.GET.q }}'
            {% else %}
            {% if not request.GET.q %}
            Sorry we couldn't find any {{ view.model.get_model_display_name_plural.lower }}
            matching that query
            {% else %}
            Sorry we couldn't find any {{ view.model.get_model_display_name_plural.lower }}
            containing '{{ request.GET.q }}'
            {% endif %}
          {% endif %}
        </h2>

        {% if object_list|length %}
        <div class="row">
          <div class="col-md-4">
            <form method="get">
              <div class="form-group">
                <select onchange="this.form.submit()" name="search_option" class="form-control">
                  {% for search_option in search_options %}
                  <option value="{{ search_option }}" {% if search_option == request.GET.search_option %}selected{% endif %}>{{ search_option }}</option>
                  {% endfor %}
                </select>
              </div>
              <input type="hidden" name="q" value="{{ request.GET.q }}">
            </form>
          </div>
        </div>
        {% endif %}

      </div>
    </div>

    {% for result in object_list %}

      {% if not forloop.first %}<hr />{% endif %}

      <div class="search-result">
        {% include result.search_template %}
      </div>

    {% endfor %}

    {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}&q={{ request.GET.q }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}

  </div>
</div>

<script>
  $(".search-result").mark("{{ request.GET.q }}", {});
</script>

{% endblock %}
