{% extends "base.html" %}

{% block contents %}
<div class="container main-content">

  <div class="row">
    <div class="col-md-12">
      <h3>Unpublished Versions</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% for version in object_list %}
      <div class="row content-offset-below-20">
        <div class="col-md-10">
          <span><strong>{{ version.pk }}</strong></span>
          <span>FIX: Created By</span>
          <span>FIX: Created At</span>
          {% if not version.is_published %}
          <span>
            <form style="display:inline;" action="{% url 'publish_version' pk=version.pk %}" method="POST">
              <button type="submit" class="btn btn-danger">Publish</button>
            </form>
          </span>
          {% endif %}
        </div>
      </div>

      {% if not forloop.last %}<hr />{% endif %}

      {% empty %}
      <h1 class="faded text-center">There are currently no unpublished versions</h1>
      {% endfor %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
      {% endif %}
    </div>
  </div>

</div>
{% endblock %}
