{% extends "base.html" %}

{% block contents %}
<div class="container main-content">
  <div class="row">
    <div class="col-md-offset-2 col-md-10 content-offset-30">

      <form class="form upload" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="clearfix content-offset-below-20">
          <div class="form-group">
            <label for="id_db_structure" class="col-sm-3 control-label">DB Structure</label>
            <div class="col-sm-9">{{ form.db_structure }}</div>
          </div>

          <div class="col-sm-offset-3 col-sm-9 help-text">
            <small>vw_Export_Standard_DB_Structure.csv</small>
          </div>
        </div>

        <div class="clearfix content-offset-below-20">
          <div class="form-group">
            <label for="id_definitions" class="col-sm-3 control-label">Definitions</label>
            <div class="col-sm-9">{{ form.definitions }}</div>
          </div>

          <div class="col-sm-offset-3 col-sm-9 help-text">
            <small>vw_Export_Standard_Definitions.csv</small>
          </div>
        </div>

        <div class="clearfix content-offset-below-20">
          <div class="form-group">
            <label for="id_grouping_mapping" class="col-sm-3 control-label">Grouping Mapping</label>
            <div class="col-sm-9">{{ form.grouping_mapping }}</div>
          </div>

          <div class="col-sm-offset-3 col-sm-9 help-text">
            <small>vw_Export_Standard_GroupingMapping.csv</small>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button class="btn btn-success" type="submit">Upload</button>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>
{% endblock contents %}
