{% extends "base.html" %}

{% load static %}

{% block contents %}
<div class="container main-content">
  {% include "partials/admin_menu.html" with VERSION_TITLE="Version Audit Log" %}

  <div class="row audit-log">
    <div class="col-md-12">

      {% for log in object_list %}
      <div class="line {% cycle '' 'striped' %}">
        <span class="date">{{ log.created_at }}</span>
        <span>
          Version {{ log.version_id }} was published by {{ log.created_by.email }}
        </span>
      </div>
      {% endfor %}

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
      {% endif %}
    </div>
  </div>

</div>
{% endblock %}
