{% load bootstrap %}
{% for error in form.non_field_errors %}
  <div class="alert alert-danger content-offset-below-20">
    {{ error }}
  </div>
{% endfor %}
<div class="row">
  <div class="col-md-3">
    <div>
      {{ form.name|bootstrap }}
    </div>
  </div>
  <div class="col-md-3">
    <div>
      {{ form.data_type|bootstrap }}
    </div>
  </div>
  <div class="col-md-4">
    <div>
      {{ form.link|bootstrap }}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{ form.description|bootstrap }}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{ form.derivation|bootstrap }}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    {{ form.table|bootstrap }}
  </div>
  <div class="col-md-6">
    {{ form.data_element|bootstrap }}
  </div>
</div>
