$primary-colour: #005eb8;
$primary-color-light: #0072ce;
$secondary-colour: #003893;

// the grey used in the side bars
$tertiary-colour: #e8edee;
// the text colour used on that grey
$tertiary-colour-text: #425563;

$text-colour: #202a30;
$text-color-on-dark: #FFF;
$footer-height: 300px;


body {
  background: #fff;
  margin-top: 0;
  box-sizing: border-box;
  color: $text-colour;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  min-height: 100%;
  overflow-x: hidden;
}

.content-offset{
  margin-top: 50px;
}

header.masthead{
  background-color: $primary-colour;
  // height: 223px;
  padding: 47px 0 0 0;

  .logo img{
    display: inline-block;
    height: 90px;
    width: auto;
  }

  .subheader{
    display: inline-block;
    padding-left: 30px;
    color: $text-color-on-dark;
  }

  .banner{
    height: 140px;
  }

  .header-nav{
    height: 35px;
  }
  ul{
    padding-left: 0;
  }

  li{
    display: inline-block;
    a{
      padding: 15px 30px;
      color: white;

      &:hover, &.active{
        background-color: #0072ce;
        text-decoration: none;
      }
    }
  }

}

footer{
  &.site-footer{
    background-color: #e8edee;
    background-image: none;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    z-index: 600;
    bottom: 0;
    position: absolute;
  }

  .footer-logo {
      height: 70px;
      width: auto;
  }

  .nav{
    float: left;

    a{
      color: #425563;
      padding: 1px 0;
    }

    & > li{
      position: relative;
      display: block;
    }
  }
  color: #425563;
  padding: 1px 0;

  .social-networks a {
      padding-top: 30px;
      padding-bottom: 30px;
      &:hover{
        text-decoration: none;
      }
  }

  .social-networks a:before {
      content: '';
      width: 38px;
      height: 38px;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: 24px 24px;
      background-position: center center;
      z-index: 1000;
      padding: 5px;
      border: 2px solid #adbcc7;
  }

  .social-networks a[href^="http://feeds.feedburner.com/"]:before {
      background-image: url(../img/icons/rss.svg);
  }

  .social-networks a[href^="http://flickr.com/"]:before, .social-networks a[href^="http://www.flickr.com/"]:before, .social-networks a[href^="https://flickr.com/"]:before, .social-networks a[href^="https://www.flickr.com/"]:before {
      background-image: url(../img/icons/flickr.svg);
  }

  .social-networks a[href^="http://youtube.com/"]:before, .social-networks a[href^="http://www.youtube.com/"]:before, .social-networks a[href^="https://youtube.com/"]:before, .social-networks a[href^="https://www.youtube.com/"]:before {
      background-image: url(../img/icons/youtube.svg);
  }

  .social-networks a[href^="http://linkedin.com/"]:before, .social-networks a[href^="http://www.linkedin.com/"]:before, .social-networks a[href^="https://linkedin.com/"]:before, .social-networks a[href^="https://www.linkedin.com/"]:before {
      background-image: url(../img/icons/linkedin.svg);
  }

  .social-networks a[href^="http://twitter.com/"]:before, .social-networks a[href^="http://www.twitter.com/"]:before, .social-networks a[href^="https://twitter.com/"]:before, .social-networks a[href^="https://www.twitter.com/"]:before {
      background-image: url(../img/icons/twitter.svg);
  }
}

.footer-cover{
  margin-top: $footer-height;
  position: relative;
}

.pagination a:hover{
  text-decoration: none;
}

$main-content-margin: 20px;

.card-list{
  &.main-content{
    margin-top: $main-content-margin;
  }

  article{
    min-height: calc(100vh - #{$footer-height + 242px});
  }
  .title{
    line-height: 1.2;
    font-size: 54px;
    color: $text-colour;
    margin-left: 0;
    margin-top: 0;
  }

  .card{
    padding-left: 10px;
    padding-right: 10px;

    a{
      transition: background-color 0.2s ease-in-out;
      background: $primary-colour;
      color: $text-color-on-dark;
      height: 137px;
      font-size: 22.5px;
      cursor: pointer;
      display: block;
      position: relative;
      padding: 10px;

      &:hover{
        background: $primary-color-light;
      }
    }
  }

  .arrow{
      height: 32px;
      width: 32px;
      position: absolute;
      bottom: 10px;
      right: 10px;
  }
}

.table-detail{
  &.main-content{
    margin-top: $main-content-margin;
  }

  hr {
      border-top: 1px dotted $tertiary-colour;
      margin-top: 10px;
      margin-bottom: 10px;
  }

  .title{
      color: $primary-colour;
      line-height: 1.5;
      font-size: 22px;
      font-weight: 600;
  }
}

.side-nav{
  padding-right: 60px;
  padding: 0;
  ul{
    padding: 0;
    margin-right: 50px;
  }

  li{
    list-style: none;
  }

  a{
    display: block;
    background-color: $tertiary-colour;
    color: $tertiary-colour-text;
    padding: 5px 10px;
    margin-top: 5px;
  }

  a.active{
    background-color: $secondary-colour;
    color: $text-color-on-dark;
  }

  a:hover{
    background-color: $primary-colour;
    color: $text-color-on-dark;
  }
}
