{% extends "metrics/base.html" %}
{% block contents %}
<div class="container main-content">
    <div class="row">
      <div class="col-md-10">
        <article>
          <h1>About</h1>

          <p class="content-offset-30">
          The Metrics and Indicators Development Assurance and Advice Service (MIDAS)
          is the NHS England and NHS Improvement indicator governance service.
          </p>
          <p class="content-offset-30">
          Its purpose is to apply standardised approaches to improve the management
          of metrics across analytical and information functions and to address the efficacy
          and quality of indicators in use. Data and analytical staff are encouraged to contact
          the <a href="mailto:england.improvement.midas@nhs.net" target="_blank">MIDAS service
          desk</a> when they wish to include existing indicators in new reports
          and dashboards or when they would like to develop, amend or retire indicators.
          </p>

          <p class="content-offset-30">
          These metrics have been published on the reference library to enable those
          working in NHS England and NHS Improvement to use consistent and approved
          methodologies for their metrics to allow more accurate benchmarking across
          different areas and organisations. If you are interested in
          supporting MIDAS or have any questions, please contact the
          <a href="mailto:england.improvement.midas@nhs.net" target="_blank">MIDAS service desk</a>
          and we will get back to you.
          </p>

        </article>
      </div>
    </div>
  </div>
{% endblock %}
