{% extends "metrics/base.html" %}
{% block contents %}
<div class="container main-content">
    <div class="row">
      <div class="col-md-10">
        <article>
          <div class="row">
            <div class="col-md-12">
              <a class="ncdr-breadcrumbs" href="{% url 'metrics-home' %}">Home</a> About
            </div>
          </div>

          <h1>About</h1>
          <p class="content-offset-30">
              The Metrics and Indicators Development Assurance and Advice Service (MIDAS) is the NHS England and NHS Improvement indicator governance service.
          </p>
          <p class="content-offset-30">
              Its purpose is to apply standardised approaches to improve the management of metrics across analytical and information functions and to address the efficacy and quality of indicators in use.  Data and analytical staff are encouraged to contact the Service when they wish to include existing indicators in new reports and dashboards or when they would like to develop, amend or retire indicators.
          </p>

        </article>
      </div>
    </div>
  </div>
{% endblock %}
