{% extends 'base.html' %}
{% load utils %}
{% load static %}
{% block title %}Metrics{% endblock %}
{% block logo %}
<a class="logo" href="http://www.england.nhs.uk">
  <img src="{% static "/img/logos/nhs-logo-rev.svg" %}" class="nhs-logo" alt="NHS England Logo" title="NHS England Logo" data-intro="Clicking on this logo will always take you back to the homepage (just in case you get lost).">
</a>
{% endblock %}
{% block header_title %}
  Metrics and Indicator Library
{% endblock header_title %}
{% block header_search %}
<form method="get" action="{% url 'metrics-search' %}">
  <input type="text" value="{{ request.GET.q }}" name="q" autocomplete="off">
  <button type="submit" class="btn">
    Search Metrics
  </button>
</form>
{% endblock %}


{% block navigation %}
  {% url 'metrics-list' as metrics_list %}
  {% url 'metrics-about' as metrics_about %}
  {% url 'topics-list' as topics_list %}
  <ul>
    <li>
      <a {% if request|url_name == 'topics-list' or request|url_name == 'topics-detail' %}class="active" {% endif %} href="{{ topics_list }}">
        Topics
      </a>
    </li>
    <li>
      <a {% if request|url_name == 'metrics-list' %}class="active" {% endif %} href="{{ metrics_list }}">
        A-Z
      </a>
    </li>
    <li>
      <a {% if request|url_name == 'metrics-about' %}class="active" {% endif %} href="{{ metrics_about }}">
        About
      </a>
    </li>
  </ul>
{% endblock %}
