{% extends "metrics/base.html" %}
{% block title %}
{{ block.super }}: {{ metric.display_name }}
{% endblock %}

{% block contents %}
<div class="container main-content">
  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <div class="col-md-12">
          <a class="ncdr-breadcrumbs" href="{% url 'metrics-list' %}">Metrics</a>
          {{ metric.display_name|truncatechars:50 }}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h1>{{ metric.display_name }}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <h3 class="no-margin-top">Indicator / Metric</h3>
          <p>{{ metric.indicator|urlize }}</p>

          <h3>Business definition</h3>
          <p>{{ metric.definition|urlize }}</p>

          {% if metric.specification %}
          <h3>Technical specification</h3>
          <p>{{ metric.specification }}</p>
          {% endif %}

          <h3>Rationale</h3>
          <p>{{ metric.rationale }}</p>

          <h3>Calculation of metric</h3>
          <p>{{ metric.calculation }}</p>
        </div>

        <div class="nhs-england-well col-md-4">
          <h4>Report</h4>
          <p>{{ metric.report.name }}</p>
          <h4>Strategic origin</h4>
          <p>{{ metric.strategic_origin }}</p>
          <h4>Indicator type</h4>
          <p>{{ metric.indicator_type }}</p>
          <h4>Organisation type</h4>
          <p>{{ metric.organisation_type }}</p>
          <h4>Organisation owner</h4>
          <p>{{ metric.organisation_owner }}</p>
        </div>


      </div>

      {% if metric.numerator.source != "N/A" and metric.denominator.source != "N/A" %}
      <div class="row">

        <div class="col-md-12">
          <h3>Numerator</h3>
          <div class="row">
            <div class="col-md-12">
              {{ metric.numerator.value }}</h3>
            </div>
          </div>


          <div class="row">
            <div class="col-md-12">
              <h4>Source</h4>
              <div class="row">
                <div class="col-md-12">
                  {% if metric.numerator.source_address and not metric.numerator.source_address == 'N/A' %}
                  <a href="{{ metric.numerator.source_address }}">{{ metric.numerator.source }}</a>
                  {% else %}
                  {{ metric.numerator.source }}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <h4>Lowest level of granularity of data</h4>
              <p>{{ metric.numerator.lowest_level_granularity }}</p>
            </div>
            <div class="col-md-6">
              <h4>Frequency of data</h4>
              <p>{{ metric.numerator.frequency }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h4>Timeliness of data</h4>
              <p>{{ metric.numerator.timeliness }}</p>
            </div>
            <div class="col-md-6">
              <h4>Refresh mechanism</h4>
              <p>{{ metric.numerator.refresh_mechanism }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Denominator</h3>
          <div class="row">
            <div class="col-md-12">
              {{ metric.denominator.value }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4>Source</h4>
              <div class="row">
                <div class="col-md-12">
                  {% if metric.denominator.source_address and not metric.denominator.source_address == 'N/A' %}
                  <a href="{{ metric.denominator.source_address }}">{{ metric.denominator.source }}</a>
                  {% else %}
                  {{ metric.denominator.source }}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h4>Lowest level of granularity of data</h4>
              <p>{{ metric.denominator.lowest_level_granularity }}</p>
            </div>
            <div class="col-md-6">
              <h4>Frequency of data</h4>
              <p>{{ metric.denominator.frequency }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h4>Timeliness of data</h4>
              <p>{{ metric.denominator.timeliness }}</p>
            </div>
            <div class="col-md-6">
              <h4>Refresh mechanism</h4>
              <p>{{ metric.denominator.refresh_mechanism }}</p>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="row ">
        <div class="col-md-8">
          <h3>Publication status</h3>
          <p>{{ metric.publication_status }}</p>

          <h3>Team lead</h3>
          <p>{{ metric.team_lead.name }}</p>

          {% if metric.metric_lead.name %}
          <h3>Metric lead</h3>
          <p>{{ metric.metric_lead.name }}</p>
          {% endif %}

          {% if metrics.comments %}
          <h3>Comments</h3>
          <p>{{ metric.comments }}</p>
          {% endif %}

          <h3>Topics</h3>
          <p>{{ metric.topics.all|join:", " }}</p>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock contents %}
