{% extends "metrics/base.html" %}

{% block contents %}
<div class="container main-content">
  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <div class="col-md-12">
          <a class="ncdr-breadcrumbs" href="{% url 'metrics-list' %}">Metrics</a>
          {{ metric.indicator }}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h1>{{ metric.indicator }}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <h4>Business definition</h4>
          <p>{{ metric.definition|urlize }}</p>

          <h4>Rationale</h4>
          <p>{{ metric.rationale }}</p>

          {% if metric.specification %}
          <h4>Technical specification</h4>
          <p>{{ metric.specification }}</p>
          {% endif %}
        </div>

        {% if metric.numerator.source != "N/A" and metric.denominator.source != "N/A" %}
        <div class="col-md-4 text-center">
          <p><strong>{{ metric.numerator.value }}</strong></p>
          <hr class="divisor" />
          <p><strong>{{ metric.denominator.value }}</strong></p>
        </div>
        {% endif %}

      </div>

      {% if metric.numerator.source != "N/A" and metric.denominator.source != "N/A" %}
      <table class="table content-offset content-offset-below">
        <thead>
          <tr>
            <th></th>
            <th>Numerator</th>
            <th>Denominator</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Source</th>
            <td>{{ metric.numerator.source }}</td>
            <td>{{ metric.denominator.source }}</td>
          </tr>
          <tr>
            <th>Source address</th>
            <td>{{ metric.numerator.source_address|urlizetrunc:50 }}</td>
            <td>{{ metric.denominator.source_address|urlizetrunc:50 }}</td>
          </tr>
          <tr>
            <th>Lowest level of granularity of data</th>
            <td>{{ metric.numerator.lowest_level_granularity }}</td>
            <td>{{ metric.denominator.lowest_level_granularity }}</td>
          </tr>
          <tr>
            <th>Frequency of data</th>
            <td>{{ metric.numerator.frequency }}</td>
            <td>{{ metric.denominator.frequency }}</td>
          </tr>
          <tr>
            <th>Timeliness of data</th>
            <td>{{ metric.numerator.timeliness }}</td>
            <td>{{ metric.denominator.timeliness }}</td>
          </tr>
          <tr>
            <th>Refresh mechanism</th>
            <td>{{ metric.numerator.refresh_mechanism }}</td>
            <td>{{ metric.denominator.refresh_mechanism }}</td>
          </tr>
        </tbody>
      </table>

      {% comment %}
      <div class="row">


        <div class="col-md-6">
          <h2>Numerator</h2>

          <h4>Source</h4>
          <p>{{ metric.numerator.source }}</p>

          {% if metric.numerator.source_address %}
          <h4>Source address</h4>
          <p class="overflowing-url">{{ metric.numerator.source_address|urlize }}</p>
          {% endif %}

          <h4>Lowest level of granularity of data</h4>
          <p>{{ metric.numerator.lowest_level_granularity }}</p>

          <h4>Frequency of data</h4>
          <p>{{ metric.numerator.frequency }}</p>

          <h4>Timeliness of data</h4>
          <p>{{ metric.numerator.timeliness }}</p>

          <h4>Refresh mechanism</h4>
          <p>{{ metric.numerator.refresh_mechanism }}</p>

          <hr />
        </div>

        <div class="col-md-6">
          <h2>Denominator</h2>

          <h4>Source</h4>
          <p>{{ metric.denominator.source }}</p>

          <h4>Source address</h4>
          <p class="overflowing-url">{{ metric.denominator.source_address|urlize }}</p>

          <h4>Lowest level of granularity of data</h4>
          <p>{{ metric.denominator.lowest_level_granularity }}</p>

          <h4>Frequency of data</h4>
          <p>{{ metric.denominator.frequency }}</p>

          <h4>Timeliness of data</h4>
          <p>{{ metric.denominator.timeliness }}</p>

          <h4>Refresh mechanism</h4>
          <p>{{ metric.denominator.refresh_mechanism }}</p>

          <hr />
        </div>

      </div>
      {% endcomment %}
      {% endif %}

      <div class="row">
        <div class="col-md-8">
          <h4>Calculation of metric</h4>
          <p>{{ metric.calculation }}</p>

          <h4>Report</h4>
          <p>{{ metric.report.name }}</p>

          <h4>Organisation owner</h4>
          <p>{{ metric.organisation_owner.name }}</p>

          <h4>Metric lead</h4>
          <p>{{ metric.metric_lead.name }}</p>

          <h4>Comments</h4>
          <p>{{ metric.comments }}</p>

          <h4>Theme</h4>
          <p>{{ metric.theme.name }}</p>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock contents %}
