{% extends "metrics/base.html" %}
{% block title %}
{{ block.super }}: {{ metric.display_name }}
{% endblock %}

{% block contents %}
<div class="container main-content">
  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <div class="col-md-12">
          <a class="ncdr-breadcrumbs" href="{% url 'metrics-list' %}">Metrics</a>
          {{ metric.display_name|truncatechars:50 }}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h1>{{ metric.indicator }}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <h4>Business definition</h4>
          <p>{{ metric.definition|urlize }}</p>

          {% if metric.specification %}
          <h4>Technical specification</h4>
          <p>{{ metric.specification|urlize }}</p>
          {% endif %}

          <h3>Rationale</h3>
          <p>{{ metric.rationale|urlize }}</p>

          <h3>Calculation of metric</h3>
          <p>{{ metric.calculation|urlize }}</p>
          <hr />
        </div>

        <div class="nhs-england-well col-md-4">
          <h4>Report</h4>
          <p>{{ metric.report.name }}</p>
          <h4>Strategic origin</h4>
          <p>{{ metric.strategic_origin }}</p>
          <h4>Indicator type</h4>
          <p>{{ metric.indicator_type }}</p>
          <h4>Organisation type</h4>
          <p>{{ metric.organisation_type }}</p>
          <h4>Organisation owner</h4>
          <p>{{ metric.organisation_owner }}</p>
        </div>

      </div>

      {% if metric.numerator.source != "N/A" and metric.denominator.source != "N/A" %}
      {% if metric.numerator.source != "N/A" and metric.denominator.source != "N/A" %}
      <table class="table content-offset content-offset-below">
        <thead>
          <tr>
            <th></th>
            <th>Numerator</th>
            <th>Denominator</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Source</th>
            <td>{{ metric.numerator.source }}</td>
            <td>{{ metric.denominator.source }}</td>
          </tr>
          <tr>
            <th>Source address</th>
            <td>{{ metric.numerator.source_address|urlizetrunc:50 }}</td>
            <td>{{ metric.denominator.source_address|urlizetrunc:50 }}</td>
          </tr>
          <tr>
            <th>Lowest level of granularity of data</th>
            <td>{{ metric.numerator.lowest_level_granularity }}</td>
            <td>{{ metric.denominator.lowest_level_granularity }}</td>
          </tr>
          <tr>
            <th>Frequency of data</th>
            <td>{{ metric.numerator.frequency }}</td>
            <td>{{ metric.denominator.frequency }}</td>
          </tr>
          <tr>
            <th>Timeliness of data</th>
            <td>{{ metric.numerator.timeliness }}</td>
            <td>{{ metric.denominator.timeliness }}</td>
          </tr>
          <tr>
            <th>Refresh mechanism</th>
            <td>{{ metric.numerator.refresh_mechanism }}</td>
            <td>{{ metric.denominator.refresh_mechanism }}</td>
          </tr>
        </tbody>
      </table>
      {% endif %}

      <div class="row">
        <div class="col-md-8">
          {% if metric.publication_status %}
          <h3>Publication status</h3>
          <p>{{ metric.publication_status }}</p>
          {% endif %}

          {% if metric.team_lead %}
          <h3>Team lead</h3>
          <p>{{ metric.team_lead.name }}</p>
          {% endif %}

          {% if metric.organisation_owner %}
          <h4>Organisation Owner</h4>
          <p>{{ metric.organisation_owner }}</p>
          {% endif %}

          {% if metric.metric_lead %}
          <h4>Metric Lead</h4>
          <p>{{ metric.metric_lead }}</p>

          {% if metric.comments %}
          <h4>Comments</h4>
          <p>{{ metric.comments }}</p>
          {% endif %}

          <h3>Topics</h3>
          <p>{{ metric.topics.all|join:", " }}</p>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock contents %}
