{% extends "metrics/base.html" %}
{% load utils %}

{% block contents %}
<div class="card-list container main-content">
  <article>
    <h1 class="title">
      Topics
    </h1>
    {% for topics in object_list|chunked:3 %}
      <div class="row">
        {% for topic in topics %}
        <div class="col-md-4 card">
          <div class="row">
            <div class="col-md-12">
              <h3>
                <a href="{{ topic.get_absolute_url }}">
                  <p>
                    {{ topic.name }} <small>({{ topic.metric_count }})</small>
                  </p>
                  <div class="arrow">
                    {% include 'partials/arrow.html' %}
                  </div>
                </a>
              </h3>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% endfor %}
  </article>
</div>
{% endblock contents %}
