{% load bootstrap %}
{{ form }}
{% comment %}
<div class="row">
  <div class="col-md-3">
    <div>
      {{ form.name|bootstrap }}
    </div>
    <div>
      {{ form.name.errors }}
    </div>
  </div>
  <div class="col-md-3">
    <div>
      {{ form.data_type|bootstrap }}
    </div>
    <div>
      {{ form.name.errors }}
    </div>
  </div>
  <div class="col-md-4">
    <div>
      {{ form.link|bootstrap }}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{ form.description|bootstrap }}
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    {{ form.is_derived_item|bootstrap }}
  </div>
  <div class="col-md-10">
    {{ form.derivation|bootstrap }}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{ form.tables|bootstrap }}
  </div>
</div>
{% endcomment %}
