{% extends "base_templates/base.html" %}
{% load staticfiles %}
{% block contents %}
  <div class="container main-content">
    <div class="row">
      <div class="col-md-10">
        <article>
          <div class="row">
            <div class="col-md-12">
              <a class="ncdr-breadcrumbs" href="{% url 'database_list' %}">Home</a> About
            </div>
          </div>

          <h1>About</h1>
          <div class="row">
            <div class="col-md-12">
              <img class="header-img" src="{% static "/img/stetho-computer.jpg" %}" />
            </div>
          </div>
          <h3 class="subheader">Home</h3>
          <p>
            The Data Services for Commissioners Reference Library holds definitions
            of all data items held on the National Commissioning Data Repository
            (NCDR). The NCDR is the pseudonymised patient-level data repository
            managed by NHS England to deliver consistent data processing, linkage
            and reporting services, mainly for the use of NHS England analytical
            teams, to aid in the delivery of a wide range of projects, including the Five
            Year Forward View.
          </p>
          <p>
            If you would like any further information, want to be involved with
            developing further content or wish to provide us with feedback, please
            <a href="mailto:england.dsfc-support@nhs.net" target="_top">contact us</a>.
          </p>

          <h3 class="subheader">About us</h3>
          <p>
            The Reference Library Portal is owned and managed by the Data Service for Commissioners (DSfC) team.
            The vision of the DSfC team is to enable commissioners to consistently access the data they need in
            a lawful, consistent and efficient manner.
          </p>
          <p>
              We enable analysts to access pseudonymised patient-level data to support commissioning and population
              health management while upholding the requirements of patient confidentiality, as determined by the
              Information Commissioner’s Office (ICO). Our focus is on increasing information and digital capability to
              provide the data that commissioners require for effective decision making, improving service quality and
              ensuring safety. We also hope to encourage informatics colleagues to add value to promote effectiveness
              and efficiency.
          </p>

          <p>
              The NCDR plays a key role in delivering Five Year Forward View objectives. By developing datasets that
              are based on standard, consistent definitions across differing healthcare settings, NHS England will be
              better equipped to track people through their journey around the NHS.
          </p>

          <p>
              DSfC is committed to improving access to services by developing reusable routine reporting and analysis
              methods, which can be adopted throughout the whole commissioning system to support strategic programmes of
              work and boost connectivity and collaboration.
          </p>
          <p>
            If you are interested in finding out more about Data Service for Commissioners,
            please see <a href="https://www.england.nhs.uk/ourwork/tsd/data-services/">our website</a>
            or <a href="mailto:england.dsfc-support@nhs.net" target="_top">contact us</a>.
          </p>

          <h3 class="subheader">What is on the Reference Library?</h3>

          <h4 class="subheader">NCDR Data Definitions</h4>
          <p>
            This contains definitions of all databases and tables within the NCDR, along with detailed descriptions of
            all data items. This has been done so analysts can be assured that the data items they use in their analyses
            are correct, both in how they are derived by the NCDR team and how they are used by the analysts themselves.
            Useful if you need to understand the specific contents of a table or database.
          </p>

          <h4 class="subheader">Reference Data</h4>
          <p>
            This is one list of all unique data items found in the NCDR, and from there says which databases and tables
            they can be found in. This allows analysts to transfer their knowledge of certain datasets to others when the
            need arises.
          </p>
          <p>
            Useful if you are looking for a specific data item and don’t know where to find it.
          </p>
        </article>
      </div>
    </div>
  </div>
{% endblock contents %}
