{% extends "base_templates/base.html" %}
{% load markdown_deux_tags %}
{% block contents %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-push-1">
        <div class="row">
          <div class="col-md-12">
            <article>
              <h3>Home</h3>
              <p>
                  The Data Services for Commissioners Reference Library Portal provides a central
                  point for all definitions of data items held on the National Commissioning Data
                  Repository (NCDR). The NCDR is the pseudonymised patient-level data repository
                  managed by NHS England to deliver consistent data processing, linkage and reporting
                  services, mainly for NHS England analytical teams, to aid in the delivery of the Five
                  Year Forward View. All content is governed by internal review processes with further
                  assurance received from subject matter experts throughout the wider NHS and other
                  healthcare organisations. We make sure that each definition is signed off by an
                  expert in the area before publication to ensure this resource can be trusted by all. If
                  you would like any further information, want to be involved with developing further content or
                  wish to provide us with feedback, please contact us.
              </p>

              <h3>About us</h3>
              <p>
                The Reference Library Portal is owned and managed by the Data Service for Commissioners (DSfC) team.
                The vision of the DSfC team is to enable commissioners to consistently access the data they need in
                a lawful, consistent and efficient manner.
              </p>
              <p>
                The work of Data Services for Commissioners will have broad reaching benefits for all analytical
                functions across NHS England and the wider commissioning landscape. The NCDR employs consistent
                data quality processes and, where sufficient legal basis exists, enables access to and linkage of
                pseudonymised patient-level data. This upholds the requirements of patient confidentiality,
                as determined by the Information Commissioner’s Office (ICO), while enabling the use of
                sufficiently granular data to support commissioning and population health management. Data
                Services for Commissioners is focussed on increasing information and digital capability to
                provide the data that commissioners require for effective decision making, improving service
                quality, ensuring safety, encouraging informatics colleagues to add value (rather than work on
                routine tasks) and promoting effectiveness and efficiency. These improvements will save time
                and resource for colleagues within the wider NHS, allowing them to focus their expertise on
                improving outcomes for patients.
              </p>

              <p>
                The NCDR also plays a key role in delivering Five Year Forward View objectives. By developing
                datasets that are based on standard, consistent definitions across differing healthcare
                settings, NHS England will be better equipped to consistently track cohorts of people through
                their journey around the NHS; an essential factor in moving towards preventative and early
                intervention care, and population health management.
              </p>

              <p>
                DSfC is committed to improving access to services by developing reusable routine reporting
                and analysis methods, which can be adopted throughout the whole commissioning system to
                support strategic programmes of work. By reducing the amount of time analysts spend
                processing data, time can be spent more appropriately, increasing analytical capacity
                and access to reporting tools which will provide improved business intelligence services to
                local, regional and national users. Through developing one, central, data repository to store
                and transform linked datasets, the NCDR provides a single source of the truth for data which
                can be accessed and analysed by colleagues across the country, boosting connectivity and
                collaboration.
              </p>
              <p>
                If you are interested in finding out more about Data Service for Commissioners,
                please see <a href="https://www.england.nhs.uk/ourwork/tsd/data-services/">our website</a>
                or <a href="mailto:england.dsfc-support@nhs.net" target="_top">contact us</a>.
              </p>

              <h4>NCDR Data Definitions</h4>
              This site contains definitions of data items in specific databases and tables within the
              NCDR. It allows the user to find detailed information relating to all data items within the
              NCDR. The chosen database and table names correspond directly with the setup within the databases.
              With this knowledge, analysts can be assured that the data items they use in their analyses are
              correct, both in how they are derived by the NCDR team and used by analysts. By increasing the
              understanding of the data, the quality, scope and efficiency of analyses will be enhanced
              across the country.
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock contents %}
