{% extends "base_templates/base.html" %}
{% block contents %}
<div class="container main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <a class="ncdr-breadcrumbs" href="{{ settings.SITE_PREFIX }}{% url 'database_list' %}">Home</a><a class="ncdr-breadcrumbs" href="{{ settings.SITE_PREFIX }}{% url 'column_redirect' %}">Columns</a><a class="ncdr-breadcrumbs" href="{{ object.get_bread_crumb_link }}"> {{ object.get_bread_crumb_name }}</a>{{ object.name }}
        </div>
      </div>

      <div class="row content-offset-below-20">
        <div class="col-sm-10">
          <h1>
            <div class="row">
              <div class="col-md-12">
                {{ object.name }}
                {% if object.data_element.grouping.exists %}
                  <small>
                    <a href="{{ object.data_element.grouping.first.get_absolute_url }}">{{ object.data_element.grouping.first.name }}</a>
                  </small>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <small>
                  {{ object.table.database.get_display_name }} / {{ object.table.name }}
                </small>
              </div>
            </div>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row nhs-england-well">
    <div class="col-md-7">
      <p>
        {{ object.description | urlize }}
      </p>
    </div>
    <div class="col-md-4 col-md-push-1">
        {% if object.data_element.grouping.exists %}
          <div class="row">
            <div class="col-md-12">
            <h4 class="sub-row-title coloured-header">Grouping</h4>
            <p>
              <a href="{{ object.data_element.grouping.first.get_absolute_url }}">{{ object.data_element.grouping.first.name }}</a>
            </p>
        {% endif %}
        {% if object.link %}
          <div class="row">
            <div class="col-md-12">
                <h4 class="sub-row-title coloured-header">External Links</h4>
                <p>
                  <a target="_blank" href="{{ object.link }}">
                    {{ object.link_display_name }}
                  </a>
                </p>
            </div>
          </div>
        {% endif %}
        {% if object.link and object.is_derived_item %}
          <div class="row">
            <div class="col-md-12">
              <hr />
            </div>
          </div>
        {% endif %}
        <div class="row">
          <div class="col-md-12">
            {% if object.is_derived_item %}
              <h4 class="sub-row-title coloured-header">Derivation</h4>
              {% if object.derivation == 'N/A' %}
                External
              {% else %}
                {{ object.derivation | urlize }}
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>Similar Columns</h3>
      {% if request.user.userprofile.preview_mode %}
        {% for column in object.related %}
          <div class="row">
            <div class="col-md-12">
              {% include "partials/column.html" with HIDE_GROUPING=1 %}
              {% if not forloop.last %}
                <hr />
              {% endif %}
            </div>
          </div>
        {% endfor %}
      {% else %}
        {% for column in object.related.published %}
          <div class="row">
            <div class="col-md-12">
              {% include "partials/column.html" with HIDE_GROUPING=1 %}
              {% if not forloop.last %}
                <hr />
              {% endif %}
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
