{% extends "base_templates/base.html" %}
{% load utils %}
{% load markdown_deux_tags %}
{% block contents %}
  <div class="main-content container table-detail">
    <aside class="side-nav col-md-4">
      <ul>
        <li class="list-title">
          <div>Groupings</div>
        <li>
        {% for grouping in groupings %}
          <li>
            <a class="table-link {% if object.id == grouping.id %} active{% endif %}" href="{{ grouping.get_absolute_url }}">
              {{ grouping.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </aside>
    <article class="col-md-8">
      <a class="ncdr-breadcrumbs" href="{{ settings.SITE_PREFIX }}{% url 'database_list' %}">Home</a><a class="ncdr-breadcrumbs" href="{{ settings.SITE_PREFIX }}{% url 'grouping_redirect' %}">Groupings</a>{{ object.name }}
      <h1 class="title">
        <div class="row">
          <div class="col-sm-12">
            {{ object.name }}
          </div>
        </div>
      </h1>
      {% if object.description %}
        <div class="row nhs-england-well">
          <div class="col-md-12">
            {{ object.description | markdown }}
          </div>
        </div>
      {% endif %}
      {% for data_element in object.dataelement_set.all %}
        <div class="row{% if not forloop.first %} content-offset-30{% endif %}">
          <div class="col-md-12">
            <h3 class="sub-row-title">{{ data_element.name }}</h3>
          </div>
        </div>
        <p>
          {{ data_element.description }}
        </p>
        {% for column in data_element.column_set.all %}
          {% if request.user.userprofile.preview_mode or column.published %}
            <div class="row">
              <div class="col-md-12">
                <a href="{{ column.get_absolute_url }}">
                  {{ column.table.database.name }}/{{ column.table.name }}/{{ column.name }}
                </a>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </article>
  </div>
{% endblock contents %}
