{% extends "base_templates/base.html" %}
{% load markdown_deux_tags %}
{% load utils %}
{% block contents %}
  <div class="card-list container main-content">
    <article>
      <a class="ncdr-breadcrumbs" href="{% url 'database_list' %}">Home</a><a class="ncdr-breadcrumbs" href="{% url 'ncdr_reference_redirect' %}">Elements</a>{{ view.kwargs.letter }}
      <nav class="content-offset">
        <div class="row">
          <div class="col-md-12">
            {% for letter, other_page in other_pages %}
              <a class="letter-link {% if view.kwargs.letter == letter %}active {% endif %}" href="{{ other_page }}">
                {{ letter }}
              </a>
            {% endfor %}
          </div>
        </div>
      </nav>
      <div class="row content-offset">
        <div class="col-md-12">
          <h1 class="title">
            NCDR Data Elements: {{ view.kwargs.letter }}
          </h1>
        </div>
      </div>
      {% if not object_list %}
        <h1 class="faded text-center">No elements start with {{ view.kwargs.letter }}</h1>
      {% endif %}
      <div class="row">
        <div class="col-md-10">
          {% for column in object_list %}
            <h3>
              <span class="column-title">
                <a href="{{ column.get_absolute_url }}">
                  {{ column.name }}
                </a>
              </span>
              <small>
                {{ column.data_type }}
              </small>
              {% if not hide_groupings %}
                <small class="pull-right">
                  {% if column.grouping and settings.USE_GROUPINGS %}
                    <a href="{{ column.grouping.get_absolute_url }}" class="label label-default">{{ column.grouping }}</a>
                  {% endif %}
                </small>
              {% endif %}
            </h3>
            <div class="row">
              <div class="col-md-12">
                <p>
                  {{ column.description | urlize }}
                </p>
              </div>
            </div>
            <div class="row content-offset-top-25 content-offset-below-10">
              <div class="col-md-6">
                {% if column.useage_count > 1 %}
                  Used in <a href="{{ column.get_absolute_url }}">
                    {{ column.useage_count }} places
                  </a>
                {% else %}
                  {% if column.useage_count == 1 %}
                    Used in <a href="{{ column.tables.first.get_absolute_url }}">
                      {{ column.tables.first.name }}
                    </a>
                  {% endif %}
                {% endif %}
              </div>
            </div>
            {% if not forloop.last %}
              <hr />
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% if is_paginated %}
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
          {% endif %}
          {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
      {% endif %}
    </article>
  </div>
{% endblock contents %}
