{% extends "base_templates/base.html" %}
{% load urls %}
{% block contents %}
{% regroup object_list by table as table_list %}
<div class="container-fluid">
  <div class="row content-offset">
    <div class="col-md-10 col-md-push-1">
      <div class="row">
        <div class="pull-right text-right">
          <form class="form-inline" method="GET">
            <div class="form-group">
              <label for="tableSelect">&nbsp Table:</label>
              <select onchange="this.form.submit()" id="tableSelect" class="form-control" name="table" value="table">
                <option {% if not reqest.GET.table %}selected {% endif %} value="">All</option>
                {% for table_name in table_names %}
                  <option {% if table_name == request.GET.table %}selected {% endif %}>{{ table_name }}</option>
                {% endfor %}
              </select>
              <input type="hidden" name="database" value="{{ request.GET.database }}" />
            </div>
          </form>
        </div>
        <div class="pull-right text-right">
          <form class="form-inline" method="GET">
            <div class="form-group">
              <label for="databaseSelect">Database:</label>
              <select onchange="this.form.submit()" id="databaseSelect" class="form-control" name="database" value="database">
                <option {% if not reqest.GET.database %}selected {% endif %} value>All</option>
                {% for database_name in database_names %}
                  <option {% if database_name == request.GET.database %}selected {% endif %}>{{ database_name }}</option>
                {% endfor %}
              </select>
              <input type="hidden" name="table" value="" />
            </div>
          </form>
        </div>
      </div>
      <article>
        {% for table in table_list %}
        <h2>Database: {{ table.grouper.database.name }} &nbsp Table: {{ table.grouper.name }}</h2>
        <table class="table table-condensed table-striped cut-off-table">
          <thead>
            <tr>
              <th>
                Column Name
              </th>
              <th>
                Description
              </th>
              <th>
                Data Type
              </th>
              <th class="hidden-xs hidden-sm">
                Derivation
              </th>
              <th class="hidden-xs hidden-sm">
                Data Dictionary Reference
              </th>
            </tr>
          </thead>
          <tbody>
            {% for row in table.list %}
              <tr>
                <td>
                    {{ row.data_item }}<br />
                </td>
                <td>{{ row.description }}</td>
                <td>{{ row.data_type }}</td>
                <td class="hidden-xs hidden-sm">{{ row.derivation }}</td>
                <td class="hidden-xs hidden-sm">
                  {% for dictionary_reference in row.datadictionaryreference_set.all %}
                    {% if dictionary_reference.link %}
                      <a href="{{ dictionary_reference.link }}">
                        {{ dictionary_reference.name }}
                      </a>
                    {% else %}
                        {{ dictionary_reference.name }}
                    {% endif %}
                  {% endfor %}
                </td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
        {% endfor %}
      </article>
    </div>
  </div>
  {% if is_paginated %}
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="pagination">
          {% if page_obj.has_previous %}
              <li>
                  <span><a href="{% add_params request.get_full_path page=page_obj.previous_page_number %}">Previous</a></span>
              </li>
          {% endif %}
              <li class="">
                  <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
              </li>
          {% if page_obj.has_next %}
              <li>
                  <span><a href="{% add_params request.get_full_path page=page_obj.next_page_number %}">Next</a></span>
              </li>
          {% endif %}
        </ul>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
