{% extends "base_templates/base.html" %}

{% block contents %}
<div class="container main-content">
  <aside class="side-nav col-md-3">
    <ul>
      <li class="list-title">
        <a href="{{ view.pertinant.0.get_search_url }}">
          Search
        </a>
      </li>
      {% for some_model, some_count in results %}
        <li>
          <a class="table-link{% if some_model.get_model_api_name == view.model.get_model_api_name %} active{% endif %}" href="{{ some_model.get_search_url }}?{{ request.GET.urlencode }}">
            {{ some_model.get_model_display_name_plural }}
            {% if some_count %}
              <span class="pull-right">
                {{ some_count }}
              </span>
            {% endif %}
          </a>
        </li>
      {% endfor %}
  </aside>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        {% block form_title %}
          <h2>
            {% if object_list|length %}
              {{ object_list|length }}
              {% if object_list|length == 1 %}
                {{ view.model.get_model_display_name.lower }}
              {% else %}
                {{ view.model.get_model_display_name_plural.lower }}
              {% endif %}
              found containing '{{ request.GET.q }}'
            {% else %}
              {% if not request.GET.q %}
                Sorry we couldn't find any {{ view.model.get_model_display_name_plural.lower }}
                matching that query
              {% else %}
                Sorry we couldn't find any {{ view.model.get_model_display_name_plural.lower }}
                containing '{{ request.GET.q }}'
              {% endif %}
            {% endif %}
          </h2>
          {% if object_list|length %}
            <div class="row">
              <div class="col-md-4">
                <form method="get" action="{{ some_model.get_search_url }}">
                  <div class="form-group">
                    <select onchange="this.form.submit()" name="search_option" class="form-control">
                      {% for search_option in search_options %}
                        <option value="{{ search_option }}" {% if search_option == request.GET.search_option %}selected{% endif %}>{{ search_option }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <input type="hidden" name="q" value="{{ request.GET.q }}">
                </form>
              </div>
            </div>
          {% endif %}
        {% endblock %}
      </div>
    </div>
    {% for result in object_list %}
      {% if not forloop.first %}
        <hr />
      {% endif %}
      <div class="search-result">
        {% include view.model.get_search_detail_template %}
      </div>
    {% endfor %}
  </div>
</div>
<script>
  $(".search-result").mark("{{ request.GET.q }}", {});
</script>
{% endblock %}
