{% extends "base_templates/new_base.html" %}
{% load utils %}
{% block contents %}
  <div class="main-content container table-detail">
    <aside class="side-nav col-md-3">
      <ul>
        <li class="list-title">
          Tables in {{ object.database.name }}
        <li>
        {% for table in tables %}
          <li>
            <a {% if object.id == table.id %}class="active" {% endif %}href="{{ table.get_absolute_url }}">
              {{ table.name }}
            </a>
            {% if object.id == table.id %}
              {% for row in object.row_set.all %}
                <a class="internal-link" href="#{{ row.data_item }}">
                    {{ row.data_item }}
                </a>
              {% endfor %}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </aside>
    <article class="row-list col-md-9">
      <a href="{% url 'database_list' %}">Home</a> / {{ object.get_display_name }}
      <h1 class="title">
        {{ object.get_display_name }}
      </h1>
      {% for row in object.row_set.all %}
        <h3 id="{{ row.data_item }}">
          <span class="row-title">
            {{ row.data_item }}
          </span>
          <small>
            {{ row.data_type }}
          </small>
        </h3>
        <div class="row">
          <div class="col-md-12">
            <p>
              {{ row.description }}
            </p>
            {% if row.is_derived_item %}
              {{ row.derivation }}
            {% endif %}
          </div>
        </div>
        <div class="row">
          {% if row.datadictionaryreference_set.exists %}
            <div class="col-md-12 dictionary-references">
              {% for data_reference in row.datadictionaryreference_set.all %}
                {% if data_reference.link %}
                  <a href="{{ data_reference.link }}">
                    {{ data_reference.name }}
                  </a>
                {% else %}
                  {{ data_reference.name }}
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
        {% if not forloop.last %}
          <hr />
        {% endif %}
      {% endfor %}
    </article>
  </div>
{% endblock contents %}
