{% extends "base_templates/base.html" %}
{% load utils %}
{% load markdown_deux_tags %}
{% block top_nav_actions %}
  {{ block.super }}
  <div class="col-md-1 pull-right">
    <a href="{% url 'admin_redirect' table_name=object.name db_name=object.database.name %}">
      Edit
    </a>
  </div>
{% endblock %}
{% block contents %}
  <div class="main-content container table-detail">
    <aside class="side-nav col-md-4">
      <ul>
        <li class="list-title">
          Tables in {{ object.database.name }}
        <li>
        {% for table in tables %}
          <li>
            <a {% if object.id == table.id %}class="active" {% endif %}href="{{ table.get_absolute_url }}">
              {{ table.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </aside>
    <article class="row-list col-md-8">
      <a href="{% url 'database_list' %}">Home</a> / <a href="{{ object.database.get_absolute_url }}"> {{ object.database.name }}</a> / {{ object.name }}
      <h1 class="title">
        <div class="row">
          <div class="col-sm-12">
            {{ object.database.name }} / {{ object.name }}
          </div>
        </div>
        {% if object.start %}
          <div class="row">
            <div class="col-sm-12">
              <small>
                {{ object.start }} - {% if object.end %}{{ object.end }}{% else %}Ongoing{% endif %}
              </small>
            </div>
          </div>
        {% endif %}
      </h1>
      <div class="row nhs-england-well">
        <div class="col-md-12">
          {{ object.description | markdown }}
        </div>
      </div>
      {% for row in object.row_set.all %}
        <h3 id="{{ row.data_item }}">
          <span class="row-title">
            <a href="#{{ row.data_item }}">
              {{ row.data_item }}
            </a>
          </span>
          <small>
            {{ row.data_type }}
          </small>
        </h3>
        <div class="row">
          <div class="col-md-12">
            <p>
              {{ row.description | urlize }}
            </p>
          </div>
        </div>
        {% if row.is_derived_item %}
          <div class="row">
            <div class="col-md-12">
              <h4 class="sub-row-title">Derivation</h4>
              {{ row.derivation | urlize }}
            </div>
          </div>
        {% endif %}

        <div class="row">
          {% if row.datadictionaryreference_set.exists %}
            <div class="col-md-12 dictionary-references">
              <h4 class="sub-row-title">Data Dictionary Attribute{% if row.datadictionaryreference_set.count > 1 %}s{% endif %}</h4>
              {% for data_reference in row.datadictionaryreference_set.all %}
                {% if data_reference.link %}
                  <a href="{{ data_reference.link }}">
                    {{ data_reference.name }}
                  </a>
                {% else %}
                  {{ data_reference.name }}
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
        {% if not forloop.last %}
          <hr />
        {% endif %}
      {% endfor %}
    </article>
  </div>
{% endblock contents %}
