{% extends "base_templates/base.html" %}
{% load utils %}
{% load markdown_deux_tags %}
{% block contents %}
  <div class="main-content container table-detail">
    <aside class="side-nav col-md-4">
      <ul>
        <li class="list-title">
          Places in {{ object.database.name }}
        <li>
        {% for table in tables %}
          <li>
            <a {% if object.id == table.id %}class="active" {% endif %}href="{{ table.get_absolute_url }}">
              {{ table.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </aside>
    <article class="col-md-8">
      <a href="{% url 'database_list' %}">Home</a> / <a href="{{ object.database.get_absolute_url }}"> {{ object.database.name }}</a> / {{ object.name }}
      <h1 class="title">
        <div class="row">
          <div class="col-sm-12">
            {{ object.database.name }} / {{ object.name }}
          </div>
        </div>
        {% if object.start %}
          <div class="row">
            <div class="col-sm-12">
              <small>
                {{ object.start }} - {% if object.end %}{{ object.end }}{% else %}Ongoing{% endif %}
              </small>
            </div>
          </div>
        {% endif %}
      </h1>
      {% if object.description %}
        <div class="row nhs-england-well">
          <div class="col-md-12">
            {{ object.description | markdown }}
          </div>
        </div>
      {% endif %}
      {% for column in object.column_set.all %}
        {% include 'partials/column.html' %}
        {% if not forloop.last %}
          <hr />
        {% endif %}
      {% endfor %}
    </article>
  </div>
{% endblock contents %}
