{% extends "base.html" %}

{% block contents %}
<div class="container main-content">
  <div class="row">
    <div class="col-md-10">
      <article>
        <div class="row">
          <div class="col-md-12">
            <a class="ncdr-breadcrumbs" href="{% url 'index_view' %}">Home</a> Metrics
          </div>
        </div>

        <h1>Metrics</h1>
        <div class="row">
          <div class="col-md-12">

            <ul>
              {% for metric in metric_list %}
              <li><a href="{% url 'metrics-detail' pk=metric.pk %}">{{ metric.indicator }}</a></li>
              {% endfor %}
            </ul>

          </div>
        </div>

      </article>
    </div>
  </div>
</div>
{% endblock contents %}
