{% extends "base.html" %}

{% block contents %}
<div class="container main-content">
  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <div class="col-md-12">
          <a class="ncdr-breadcrumbs" href="{% url 'index_view' %}">Home</a>
          <a class="ncdr-breadcrumbs" href="{% url 'metrics-list' %}">Metrics</a>
          Metric
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h1>{{ metric.indicator }}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <h4>Business Definition</h4>
          <p>{{ metric.definition }}</p>

          <h4>Rationale</h4>
          <p>{{ metric.rationale }}</p>

          {% if metric.specification %}
          <h4>Technical Specification</h4>
          <pre style="overflow-x: auto;white-space:pre-line;word-wrap:normal;">{{ metric.specification }}</pre>
          {% endif %}

          <hr />
        </div>

        <div class="col-md-3 text-center">
          <p><strong>{{ metric.numerator.value }}</strong></p>
          <hr class="divisor" />
          <p><strong>{{ metric.denominator.value }}</strong></p>
        </div>

      </div>

      <div class="row">

        <div class="col-md-6">
          <h2>Numerator</h2>

          <h4>Source</h4>
          <p>{{ metric.numerator.source }}</p>

          <h4>Source Address</h4>
          <p>{{ metric.numerator.source_address }}</p>

          <h4>Lowest Level of Granularity of Data</h4>
          <p>{{ metric.numerator.lowest_level_granularity }}</p>

          <h4>Frequency of Data</h4>
          <p>{{ metric.numerator.frequency }}</p>

          <h4>Timeliness of Data</h4>
          <p>{{ metric.numerator.timeliness }}</p>

          <h4>Refresh Mechanism</h4>
          <p>{{ metric.numerator.refresh_mechanism }}</p>

          <hr />
        </div>

        <div class="col-md-6">
          <h2>Denominator</h2>

          <h4>Source</h4>
          <p>{{ metric.denominator.source }}</p>

          <h4>Source Address</h4>
          <p>{{ metric.denominator.source_address }}</p>

          <h4>Lowest Level of Granularity of Data</h4>
          <p>{{ metric.denominator.lowest_level_granularity }}</p>

          <h4>Frequency of Data</h4>
          <p>{{ metric.denominator.frequency }}</p>

          <h4>Timeliness of Data</h4>
          <p>{{ metric.denominator.timeliness }}</p>

          <h4>Refresh Mechanism</h4>
          <p>{{ metric.denominator.refresh_mechanism }}</p>

          <hr />
        </div>

      </div>

      <div class="row">
        <div class="col-md-12">
          <h4>Publication Status</h4>
          <p>{{ metric.publication_status }}</p>

          <h4>Calculation of Metric</h4>
          <p>{{ metric.calculation }}</p>

          <h4>Report</h4>
          <p>{{ metric.report.name }}</p>

          <h4>Organisation Owner</h4>
          <p>{{ metric.organisation_owner.name }}</p>

          <h4>Team Lead</h4>
          <p>{{ metric.team_lead.name }}</p>

          <h4>Metric Lead</h4>
          <p>{{ metric.metric_lead.name }}</p>

          <h4>Comments</h4>
          <p>{{ metric.comments }}</p>

          <h4>Theme</h4>
          <p>{{ metric.theme.name }}</p>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock contents %}
